[2017-04-16 12:16] jbeich opened #1 "git v4432 tag corresponds to svn r4437"
r4433 (aka a91df8ba04bd) bumped `MAX_BTN_NUM` which may affect old saves. Can you move the tag to real r4432 (aka ba1eb4f62cec)?

[2017-04-18 19:03] DCurrent commented on #1
_Can you move the tag to real r4432 (aka ba1eb4f)?_ - Not sure what you mean by that.

[2017-05-01 22:38] coringao opened #2 "OpenBOR for official Debian GNU/Linux packaging"
I'm interested in working with this source code to make it available in Debian repositories to give more visibility to GNU/Linux user.

But you would like to understand better in the compilation could you clarify me?

![captura de tela de 2017-05-01 19-16-46](https://cloud.githubusercontent.com/assets/289377/25597026/c294b0d4-2ea2-11e7-9b13-2f7a9efb0e6e.png)

Saying that did not find the files for

[2017-05-01 23:41] DCurrent commented on #2
After you run build.bat, you'll need to go into the tools folder. In each platform you'll find a the compressed tool chain, and an uncompressed tool chain. Move the contents of the uncompressed folder into the platform folder. Then try running the build.bat again. You're good to go from there forward.

I need to get that fixed, but haven't gotten to it yet.

[2017-05-02 01:07] coringao commented on #2
Thanks for the tips.
I made a compilation and found a simple error, which I solved.

[compilation.txt](https://github.com/DCurrent/openbor/files/969102/compilation.txt)

[2017-05-02 01:18] coringao commented on #2
It worked perfect, now I need to study the source code better.

![captura de tela de 2017-05-01 22-12-59](https://cloud.githubusercontent.com/assets/289377/25600633/07b0d490-2ebc-11e7-82b6-9a72829d6f13.png)

[2017-05-03 10:41] DCurrent commented on #2
Cool, though keep in mind I'm in the midst of some major additions and clean up. You should jump into the community @chronocrash.com and join up. I'm going to go ahead and close the ticket. Let me know if you have any other issues.

[2017-05-03 10:41] #2 closed

[2017-05-03 10:42] DCurrent commented on #1
I think we've got the tags fixed now. Closing ticket.

[2017-05-03 10:42] #1 closed

[2017-05-03 16:15] coringao opened #3 "Debian Packaging for OpenBOR"
Hello,

My intention on OpenBOR is to make it available in Debian/Ubuntu Linux distributions, simply for users beginners.

The source code is well organized to work on the packaging, but I need you to remove the other platforms that have in the compilation leaving only the GNU/Linux version.

Can you make that change the part or can I make that change myself?

Thanks!

[2017-05-03 17:36] DCurrent commented on #3
I'm afraid I can't do that - multiple ports are one of the main hallmarks of OpenBOR. This is coming from a guy who HATES ports with a bitter passion. Most of them were done without consent and then the author left with us (me) holding the bag trying to support them. Were it up to me (well technically it is, but I'm just not that mean), I'd drop every single port and take the engine back where it

[2017-05-03 20:00] coringao commented on #3
A pity that this is happening this way.

Okay, I made a fork in this source code to leave only GNU/Linux version. After completing I will warn you, and publish in the Debian project.

Thanks!

[2017-05-03 20:26] #3 closed

[2017-05-10 03:12] jbeich opened #4 "BGM Player in Launcher crashes with > 80 tracks"
"Art of Fighting - Trouble in South Town" from [here](http://www.chronocrash.com/forum/index.php?topic=2489.0) has 221 tracks. When trying to play the BGM from game selection menu it crashes.

[code]

Example fix: https://github.com/freebsd/freebsd-ports/blob/afa4be9c7d5b/games/openbor/files/patch-source_gamelib_packfile.h

[2017-05-10 04:23] jbeich opened #5 "Crash due to underallocation with max collisions > 1"
Simpsons Treehouse of Horror (version 2.0.0 from Nov 1, 2016) crashes on startup

[code]

while Rocket Viper 2 (v2.41) crashes when loading the first level

[code]

However, ASan sheds more light

[code]

Example fixes:
https://github.com/freebsd/freebsd-ports/blob/b5e1cb9ba665/games/openbor/files/patch-openbor.c#L17
https://github.com/freebsd/freebsd-ports/blob/b5e1cb9ba665/games/openbor/files/pa

[2017-05-10 11:48] DCurrent commented on #5
max_collisions is not yet complete and isn't yet fully supported - in fact there's no way at all to use it at this point. I'll make sure to go over the allocation when it is released and documented. Thanks for the catch.

[2017-05-10 11:48] #5 closed

[2017-05-10 11:51] DCurrent commented on #4
Thanks. I'll take a look and integrate your fixes soon as I can.

[2017-07-24 16:49] DCurrent opened #7 "Crash On Open - Log Error?"
Latest commit crashes on open. Likely due to log enhancements causing a seg fault.

[2017-07-24 16:51] DCurrent opened #8 "Complete Mutiple Collision Box Support"
Engine support of collision detection boxes is complete internally, but there is currently no way for module authors to access or define them.

[2017-09-03 04:25] guimabros commented on #7
i had the same bug compiling from the source today

[2017-09-03 14:18] DCurrent commented on #7
I haven't fixed the bug yet, so that's no surprise. It will be ~2 weeks and I can get back to working on the source again.

[2017-09-05 17:33] dbaldan opened #10 "Bombs can't fall in holes"
BloodBane helped me to find another bug: Entities thrown like BOMB can't fall in holes.

As he had explained:
I've tried it myself and did reproduce this bug
I also tried using other build to reproduce that bug but it didn't happen
So that means the cause is OpenBoR build.

- The not buggy one is **OpenBoR v3.0 Build , Compile Date: Nov  8 2016**
- while the buggy one is **OpenBoR v3.0 Build , Com

[2017-09-05 17:44] dbaldan opened #11 "Palette None"
Since version **OpenBOR_v3.0_Build_4469 (which is identified as 4569)** entities with "palette none" will make the engine closes itself, giving this error log:

It's a version bug or something had changed? Because versions until **OpenBOR_4453** works fine.

[2017-09-06 01:01] DCurrent commented on #11
It's a known issue and there is a fix on the way. Just a oversight on my part while upgrading the palette loading code.

[2017-09-06 01:03] DCurrent commented on #10
I'll need some help with this one. Please try to find the specific version. I need the release number - compile date doesn't really help that much. Then I can compare the code and trace bug. Thanks!

[2017-09-06 01:58] dbaldan commented on #10
I need to make more tests, but it seems to be working in 3994.

Talking about the builds, I don't remember when this started, but I remember we could get the build version in the log file, but then after a version 3, no more builds have the build version in the log files, and this is very helpful for cases like this.

[2017-09-27 16:17] whitedragon0000 commented on #7
Solved

[2017-09-27 16:17] #7 closed

[2017-09-27 17:15] #11 closed

[2017-09-28 01:32] whitedragon0000 opened #12 "Messy log"
DC, if you can, fix a bit that messy log.

[2017-09-28 01:38] whitedragon0000 opened #13 "Complete animationproperty"
Need to complete animationproperty to get framecount and other props like:
enum _prop_summonframe_enum
enum _prop_starvelocity_enum
etc...

[2017-09-28 12:38] DCurrent commented on #12
The log is a total mess, you're right. It's a huge undertaking that I jumped into right when I lost time due to RL, but does need to be done. The log previously for all intents and purposes lies to authors about the order of operations. Not exactly useful for debugging.

[2017-09-30 23:41] dbaldan opened #14 ""Remap" with strange results"
An user reported at my FB group that old mods with REMAP has strenge results, check the image bellow
Image: https://imgur.com/XFKfvqI
![error](https://user-images.githubusercontent.com/31666009/31050401-c3da8c62-a61f-11e7-9123-1194550b0ffa.jpg)

Build: Tested in OpenBor_v3.0_Build_4553 and OpenBOR_v3.0_Build_3849
Mod: Bare Knuckle 6 - Turn The Tide

[2017-10-01 12:43] DCurrent commented on #14
@dbaldan The latest release is 4469 and contains several color table fixes. I'd suggest you test with it.

[2017-10-01 15:44] dbaldan commented on #14
@DCurrent I think there is an inconsistency with the build numbers, take a look:

 21 Apr - 4469
 18 Apr - 4556

Version 4556 should be 4456 no? I suggest to rename that version, because its kinda confusing the way it is now.

[2017-10-01 15:53] dbaldan opened #15 "Backfall issue?"
This was reported at FB group:
_"I am doing some tests here and noticed that the enemies execute the animation BACKFALL normally, but the when the players reach frame with landframe, the animation get interrupted and go straight to animation RISE._

_Another detail is that when the player dies he performs the animation perfectly."_

Tested in builds **4419** and **4469**

[2017-10-01 17:34] dbaldan commented on #14
Same result. Version 4469 is the one which doesn't support palette NONE.

[2017-10-02 02:59] DCurrent commented on #14
I know the engine supports it, I put the fix in and tested it myself. Might not have been given a public release since then, I'll check on Tuesday when in in my office. In the meantime the version confusion was just a typo by whitedragon in the filename. It should be fixed now.

[2017-10-02 11:56] whitedragon0000 commented on #15
check better this issue.
I checked the code and it's all right.
backfalls and normal falls are the SAME function, so if falls work well, also backfalls have to work well!
The rise function is called just ONE time, both for enemies and players.
I can't reach the problem.
The rise animation for players semms ok.
Try to set "risetime" for players

[2017-10-02 13:44] dbaldan commented on #14
@DCurrent yeah, I think its not on the last public release.

About the version confusion, I think there is still something wrong, take a look:

v4432
v4453
v4455
v4456 (Github calls it 4456 but the rar says 4556)
v4569

We had a jump between 4455 and 4569. Nothing too important, but may lead to confusion. I think you can rename the v4456 as v4556.

[2017-10-02 13:46] dbaldan commented on #15
@whitedragon0000 the user had tested with setting risetime for player (using the double of the default value) and it works.

BUT...this is needed only when you set a BACKFALL. For the default FALL animation, its not needed to set a risetime. Which is strange.

[2017-10-02 14:21] dbaldan opened #16 "Build version on the log"
Long time ago, all OpenBOR builds had the Build version on the log. But since version 3, this
isn't available anymore.

From the latest version (4569)
OpenBoR v3.0 Build , Compile Date: Apr 21 2017

It's possible to have this again? This helps the users to report bugs.

[2017-10-02 15:42] whitedragon0000 commented on #15
tested and it works properly.
If you can, can you upload a video to show the difference between fall and backfall?

[2017-10-02 15:50] dbaldan commented on #15
Thanks @whitedragon0000 . I've sugested to the user to interact with this issue himself, since I can't test this right now.

[2017-10-02 20:24] DCurrent commented on #14
Sure, I'll take a look to make sure naming is matched up. Version jumps are perfectly normal though, because there may be a lot of code changes before we make a public release.

[2017-10-03 14:08] whitedragon0000 commented on #16
before compile, just set the right version into version.h file.

[2017-10-03 14:08] #16 closed

[2017-10-03 14:27] dbaldan opened #17 "Build versions"
Guys, I saw the latest release, which is build:
OpenBOR_v3.0_Build_**4544** (October 3)

But how this could be possible if the last version was **v4569**, released in April 21?

If I can be honest, @DCurrent , those versions are starting to get very confuse and this is hurting the engine and its user base. We don't know anymore which is the latest version...

[2017-10-03 14:53] whitedragon0000 commented on #17
check latest svn version (actually 4546): [https://github.com/DCurrent/openbor/commit/286cc0726378d850253bb1eb6b248a40b7e291cf#diff-ad1943a9fd6d3d7ee1e6af41a5b0d3e7](url)

[2017-10-03 14:54] #17 closed

[2017-10-03 14:55] dbaldan commented on #17
@whitedragon0000 what counts for the users are the releases, not the SVN.
Why you have closed this, since the issue wasn't fixed?

[2017-10-03 15:07] DCurrent commented on #13
Just FYI, I have a week doing hurricane aid work, and will be taking this on (along with some other things) soon as I return ~2017-10-13.

[2017-10-03 15:47] DCurrent commented on #17
I believe I've found the confusion. My release 4453 had the right tag but a typo in the file name (4553), and near as I can tell @whitedragon0000 used the file name instead of tags as a version guide in his subsequent releases. Very easy mistake to make on both sides, but boy did it cause a mess. I just finished fixing up all the version tags and file names. We should be good to go moving forward.

[2017-10-03 17:40] DCurrent commented on #14
Versioning fixed - see #17. Check latest release for Palette NONE compatibility.

[2017-10-03 22:23] dbaldan commented on #10
@whitedragon0000 I've tried this in your latest release...and the bug is still there.

[2017-10-07 00:46] whitedragon0000 commented on #13
Great!!

[2017-10-07 21:21] dbaldan opened #18 "Shadow fade range"
*SUGGESTION* (dunno if we can use github for that)

Mugen has a cool feature which I think could be cool to have in OpenBOR: _Shadow fade range._
This is how it works:

This parameter lets you set the range over which the shadow is visible. It is used to create an effect of the shadow fading as the player gets farther away from the ground. The first value is the high level, and the second is the m

[2017-10-09 14:25] DCurrent commented on #18
Not a bad idea at all really, and I imagine wouldn't be too hard to implement. We'd just use current Base coordinates as the "ground".

[2017-10-12 11:11] Snipie opened #19 "Building on x64 Linux fail"
Hello,
I try to build using ./build 4 amd64 building starts but the compiler gives multiple warnings concerning sprintf.
I removed the -Werror flag from the Makefile it builds and runs but sometimes it gives me Segmentation Fault.

[2017-10-13 14:18] dbaldan opened #20 "OGG files over BOR"
Any plans to fix the issue with REMIX.BOR? [I reported it back at 2013. ](http://www.chronocrash.com/forum/index.php?topic=1001.msg12988#msg12988)
There is a required music: remix.bor. If you put a remix.ogg it will play, but when you go back to the title, it will play the .bor version instead.

It would be better if the engine can look for .ogg files in all required music, since .ogg is way small

[2017-10-14 00:15] DCurrent commented on #20
The better solution is to not require music and sounds in the first place. That's an author's perogative.

[2017-10-15 15:36] dbaldan opened #21 "getentityproperty / changeentityproperty"
Guys, I want to document all the entity properties but I need help with that, so I would like to ask help from the Devs. There are some properties which I never heard about, like _"trymove", "link",_ etc.

Some of them seams self explanatory or easy to understand, but some aren't.
Any help is very appreciated.

**~Property names:**
"a" - Altitude (deprecated)
"aggression" -
"aiattack" -
"aiflag" -

[2017-11-08 00:57] dbaldan opened #22 "Damageonland issue"
I discovered that when you set a DAMAGEONLAND (as a attackbox complement or by script), the target wont react (IOW, its velocity won't change) by any other attack (even if the knockdown power is bigger) until it lands.

This breaks combos where you need a first attack which throws the target high in the air and wants to hit it again, while having it to receive damage from the fall from the a great

[2017-11-29 01:31] dbaldan opened #23 "Recursive spawns"
**Suggestion**
I would like to sugest the engine to be able to use recursive spawns. Right now, if you have an entity and want it to spawn another copy of itself in a different animation (so you can spawn parts of his body, for example), the spawn function go crazy, with the entity spawning in very weird places, like outside of the walkable area, wrong animation, etc

I am using this function to s

[2017-12-03 13:35] dbaldan opened #24 "Skipselect resets the life count"
As reported [here](http://www.chronocrash.com/forum/index.php?topic=3610.0), if you use skipselect -
 with or without parameters - between two levels, the engine will ignore how many lives you have and reset it to the default value informed in the set.

OpenBoR v3.0 Build , Compile Date: Dec 22 2016 - OpenBOR_v3.0_Build_4419

[2017-12-03 15:56] dbaldan commented on #24
I've made a temporary fix using scrips here: http://www.chronocrash.com/forum/index.php?topic=3610.msg50090#msg50090

But I believe this should be fixed in the source code.

[2017-12-24 02:24] #15 closed

[2017-12-24 02:25] #14 closed

[2017-12-24 02:25] whitedragon0000 commented on #24
fixed!

[2017-12-24 02:25] #24 closed

[2017-12-24 02:33] dbaldan commented on #24
@whitedragon0000  thanks, I will take a look.

[2017-12-24 02:35] dbaldan commented on #23
@whitedragon0000 take a look at this too :)

[2017-12-25 23:13] whitedragon0000 commented on #23
I know that the recursive spawning is not enabled for a protection crtieria.
It's right, if you use a recursive spawn it becomes useless and you will enter in a loop freeze.
So you need to spawn ANOTHER entity.
You function has 2 issues.
First check for fx,fz,fy NULL() values...
Example: if ( fX == NULL() ) fX = 0; etc....
then perform an attack with reset flag like:
performattack(vSpawn, openborc

[2017-12-26 13:16] dbaldan commented on #23
@whitedragon0000 So it's impossible to do without using another entity?

About my function, why I need to check for null first? And that part was not my code.

[2017-12-26 16:10] DCurrent commented on #23
@dbaldan look at the date, I whipped that function up as a test over ten years ago when OpenBOR first gained script functionality. It was never meant to be used in production, and yet still floats around to this day, lol. It's always best practice to sanitize arguments - otherwise you can get undefined results.

Lets make sure we're on the same page. I'm assuming by "entity" you meant "model", and

[2017-12-26 16:21] dbaldan commented on #23
@DCurrent hehehe when I started, the scripting documentation was almost absence. So I learnt by looking at other people works. The code works anyway, lol.

I got the reset flag for the animation, but not about the positions. If I will set all the positions of the second model, why I need to reset it?

[2017-12-26 16:53] DCurrent commented on #21
Well for one thing, every last one of those is about to go defunct. Since I am off all this week, I'm getting back into my entity/animation property project which will replace all the text property names with integer constants, and eliminate the horrendously awful sub-property mess (MUCH faster, and enable other tricks not possible now).

You'll use named constants to access the properties: Think:

[2017-12-27 02:26] whitedragon0000 commented on #22
Code seems ok.. Can you post a video example?

[2017-12-27 02:26] whitedragon0000 commented on #10
fixed!!

[2017-12-27 02:27] #10 closed

[2017-12-27 02:27] dbaldan commented on #22
@whitedragon0000 do you have my Avengers game, right?]
Choose THOR, grab an enemy, input UP+ATTACK. He will throw the enemy upward.
Right after it, input DOWN, UP, ATTACK. He will execute an upper and the enemy will receive the damage, but no change in the hurt animation.

[2017-12-27 02:29] dbaldan commented on #10
@whitedragon0000 Can you compile with this fix, please?

[2017-12-27 03:20] dbaldan commented on #10
@whitedragon0000 I've tested it. Works sometimes, but sometimes not.
For example, when it works, if the entity has any antiwall code, it will trigger inside the hole.

See the arrow. Even with the same attributes of other bombs, it won't fall on the hole:
subject_to_wall   1
subject_to_platform 1
subject_to_hole 1
no_adjust_base 0

![avengers - 0037](https://user-images.githubusercontent.com/31666

[2017-12-29 15:40] #12 closed

[2017-12-29 18:26] whitedragon0000 commented on #22
ok, fixed!!

[2017-12-29 19:38] DCurrent commented on #20
@dbaldan I just checked the code and there is no requirement for remix.bor. The engine just looks for .bor, and then .ogg version. You should just be able to remove the .bor and .ogg will always play.

[2017-12-30 17:10] whitedragon0000 opened #25 "Update PS Vita Tools and Makefile Update"
Please (Plombo) can you update PS Vita Tools and Makefile Update?
Thanks..

[2017-12-30 17:14] whitedragon0000 commented on #23
@dbaldan You need to reset animation tu avoid animation bugs and stucks.

[2018-01-07 16:31] whitedragon0000 commented on #22
Working on

[2018-01-07 16:44] dbaldan commented on #22
Thanks

[2018-01-07 17:44] whitedragon0000 commented on #22
Well...
So, try to talk about the solution.
This bug exists because when damage on landing is set, the enemy doesn't change animation. Why? Because there is a return 1 before the fall animation change in common_takedamage() function.
I'm thinking...
I can add an entity prop to store latest attack_type example attack_normal or attack_normal9 etc...
Then I can delete that "return 1" and set the atta

[2018-01-07 17:51] DCurrent commented on #22
We need to look deeper into this or find another solution. Using ATK_LAND is intended behavior. Do not change it.

[2018-01-07 18:27] dbaldan commented on #22
I agree with DC. ATK_LAND is very useful. If to fix this issue (which is a minor issue) we will break other more useful stuff, so let it as is.

[2018-01-07 19:16] whitedragon0000 commented on #22
Ok perfect.

[2018-01-28 03:18] dbaldan commented on #23
@whitedragon0000 I've modified my code to include the animation reset and the check for the x,y,z NULL() values but it still doesn't work.

The entity, "Lurker", should spawn a copy of itself, on a specific animation and where I call it.

here is the code:
[code]
Them I call it:
@cmd spawnAniR "Lurker" 0 0 1 "ANI_RISE" 0 0 0

It spawns a copy of itself, but not on the animation I set and it spawns

[2018-02-11 13:43] dbaldan opened #26 "Drawmethod Clip"
Seams that Drawmethod Clip has an issue: The effect isn't replicated by the gfxshadow neither by the mirror effect, as show on the image bellow.

![avengers - 0026](https://user-images.githubusercontent.com/31666009/36073897-fda9c706-0f1e-11e8-8678-538d4b7b0131.png)

The gfxshadow still shows the normal sprite shadow (when it should show only the clipped part) and the mirror simply doesn't shows t

[2018-02-11 20:54] dbaldan commented on #26
More info:
When you use a Drawmethod Clip, you can't chance the entity facing because it gets ignored and its always facing right. It you use changeentityproperty, it won't work.

[2018-02-11 22:00] DCurrent commented on #26
Please be more specific. Is the entity direction not changing or is the clipping?

The clipping effect isn't supposed to change direction because it doesn't have a direction. It's just a vector based effect applied as the entity is displayed. You have to do the math work yourself for left and right.

[2018-02-11 22:06] dbaldan commented on #26
The entity. It always shows facing right. If you apply a negative x velocity, it will move left, but the graphic is still facing right. But I think its related to what you had explained at CC:

About the other issue, do you think its possible to fix?

[2018-02-12 19:59] n3f4s commented on #19
Hi,
The error is:
[code]

It's caused by the fact that the size of ``dir`` added to the size of ``entry->d_name`` is greater than 256 (the size of ``fullpath``).
Since the overflow is an undefined behaviour (and not an error), the compiler issue just a warning.
``-Werror`` cause transform the warning into errors. That's why the build is a success without it (even if there are warnings). The error

[2018-02-13 10:58] DCurrent commented on #19
I increased the size of fullpath to 1024 in 7f1664da942221f0a59e94a58533219c40fff066. See if that helps.

[2018-02-13 11:17] #19 closed

[2018-02-18 18:31] whitedragon0000 commented on #22
Dol issue is pretty fixed!

[2018-02-18 18:31] #22 closed

[2018-02-18 18:38] dbaldan commented on #22
Indeed, thanks!

[2018-02-19 15:33] DCurrent opened #27 "Lockup on PSP & Android"
Android and PSP ports are unstable as of 0eeff9e. Last known good b0e8315.

Per @dbaldan:

@whitedragon0000 attempted a correction in f9b4117 by restoring 8 and 16 bit color modes, but this was not an acceptable solution and has been reverted.

[2018-02-19 17:46] jbeich commented on #27
Probably ba1eb4f62cec instead (see #1) if only binary releases were tested.

[2018-02-20 05:40] Unitrunker opened #28 "Invalid header"
stristr.h contains a one line function prototype under the GPL.

The implementation - located in stristr.c (a public domain license) does not match the prototype.

[2018-02-20 05:43] Unitrunker commented on #28
FYI - searching for "GPL" reveals a few hits.
https://github.com/DCurrent/openbor/blob/d8e1fa0f4a508724aa1db19fbc0311f434ad3432/tools/borpak/source/scandir.c
https://github.com/DCurrent/openbor/blob/d8e1fa0f4a508724aa1db19fbc0311f434ad3432/tools/borplay/source/borplay.c
https://github.com/DCurrent/openbor/blob/d8e1fa0f4a508724aa1db19fbc0311f434ad3432/engine/source/gfxlib/scale2x.c
https://github.c

[2018-02-20 08:50] whitedragon0000 commented on #27
Making some test (I have no time caused by my real work), I noticed that it works when PAL_BYTES is 768 to make palettes for PSP. I report just this..

[2018-02-20 11:16] whitedragon0000 opened #29 "Is it possible to update (more or less quickly) to opengl api 4.6?"
Is it possible to update (more or less quickly) to opengl api 4.6?
I ask to you Plombo because I know that you have taken care of this part of the engine.

[2018-02-20 12:10] whitedragon0000 commented on #28
the prototype is char *stristr(const char *String, const char *Pattern); into stristr.h

[2018-02-20 18:39] Plombo commented on #27
Okay, that's weird and probably points to some larger issue.

[2018-02-20 20:44] whitedragon0000 commented on #26
this is not an issue. shadow is not a sprite for your drawmethod.
if you want a clipped shadow, you need to script a custom shadow with drawmethod.

[2018-02-20 20:44] #26 closed

[2018-02-20 20:48] whitedragon0000 commented on #4
fixed

[2018-02-20 20:48] #4 closed

[2018-02-20 20:50] dbaldan commented on #26
@whitedragon0000 ok about the shadow. But and about the mirror effect?

[2018-02-20 20:57] dbaldan opened #30 "Compile Build in Log"
Actually, when we run OpenBOR, we only have compile date without the build version:

In fact, there is a build version, but it's wrong (it shows v3.0 when I am using build 4432). Long time ago, we had the build version showing the right (and more complete) information.

This could be helpful when debuging, because we need to _guess_ the build version by the compile date.

[2018-02-20 21:55] DCurrent commented on #26
@dbaldan Mirror effect works the exact same way as shadow, and consequently shares the same behaviors. To clip, or perform other complex drawing methods, you have to script your own mirror effect. It's actually a lot easier than it sounds. Same principal as drawing shadow trails.

[2018-02-20 22:14] dbaldan commented on #26
@DCurrent I see. Thanks for the explanation.

[2018-02-20 22:46] rofl0r commented on #4
reference to commit hash of the fix pls ?

[2018-02-21 20:41] jbeich commented on #4
Probably f7e7729d104c which bumped `bgmFileName[][]` array of strings from 80 to 256. As 5ae15ba372cc blindly replaced 256 with `PACKFILE_PATH_MAX`  while bumping to 512 out-of-bounds write is still there but would require >256 tracks to trigger ASAN crash.

https://github.com/DCurrent/openbor/blob/f7e7729d104c3a8b5b0cb041249199d307e192f2/engine/source/gamelib/packfile.h#L48
https://github.com/DCu

[2018-02-21 20:52] DCurrent commented on #4
@jbeich Thanks for the catch. I was in a hurry, but it's still no excuse. Mea culpa for not looking round more.

[2018-02-21 21:26] jbeich commented on #4
@DCurrent, 5ae15ba372cc also had a similar but unrelated issue with `.bgmTracks` which I also [fixed](https://github.com/freebsd/freebsd-ports/blob/4883bbc5dc15/games/openbor/files/patch-source_gamelib_packfile.c) downstream.
https://github.com/DCurrent/openbor/blob/f7e7729d104c3a8b5b0cb041249199d307e192f2/engine/source/gamelib/packfile.c#L1411

[2018-02-21 21:55] whitedragon0000 commented on #27
Ok, I fixed an overflow issue to access in arrays that have a fixed size 768 (24 bit)
Now psp build doesn't crash anymore.
For Android issue I can't test or work on it.
In psp build the prev image in menu are not displayed for invalid palette (I don't know the psp format). Can you help me please?

[2018-02-21 22:06] Plombo commented on #29
That's not actually something we want to do. Newer versions of OpenGL can only be supported by modern GPUs, while older versions of the API are supported by all hardware regardless of age. There's no real advantage for

[2018-02-21 22:06] #29 closed

[2018-02-21 22:09] Plombo commented on #29
Sorry, accidentally hit "close and comment" while still typing.

Anyway, there's no real advantage to "upgrading"; it would limit hardware compatibility, and it wouldn't improve performance or anything.

[2018-02-21 22:12] dbaldan commented on #27
@whitedragon0000 I can test it on Android, but I need someone to compile it, since I had no luck in compiling to Android yet.

[2018-02-22 02:11] whitedragon0000 commented on #27
I can compile just at the end of week...
Issue also in wii (preview image in main menu)

[2018-02-23 03:56] #28 closed

[2018-02-23 11:04] #30 closed

[2018-02-23 19:11] whitedragon0000 commented on #27
Some news?

[2018-02-23 19:12] dbaldan commented on #27
@whitedragon0000 I can test it only at weekend.

[2018-02-24 01:54] dbaldan commented on #27
@whitedragon0000 I tested the build 4696 on android, the bug persists.

I had no issue with credits or continue.

[2018-02-24 04:47] whitedragon0000 commented on #27
Anyone can compile new libsdl2.so 2.0.7 for Android?

[2018-02-24 12:19] DCurrent commented on #27
I don't currently have an Android environment and can't until late next week.

[2018-02-24 14:12] walterheisenberg opened #32 "Libretro port?"
Did you ever think about to port OpenBOR into a libretro-core?

https://www.libretro.com/index.php/develop/
With RetroPlayer Kodi18 (Leia)  on the horizon ...
This would be awsome!
Thx

[2018-02-24 14:47] DCurrent commented on #32
There are no plans to add more ports at this time. Sorry.

[2018-02-24 14:47] #32 closed

[2018-02-24 16:52] dbaldan commented on #27
@whitedragon0000 I've tested the build 4699, but the lockup still persists.

[2018-02-24 18:26] jbeich commented on #30
#31 was too optimistic: v4696 and v4699 released after the fix still have empty `VERSION_BUILD`. Given Git tags are now less predictable it'd be nice to embed tag/commit via `git describe --tags --long` as well. Can someone reopen the issue?

[2018-02-24 20:04] whitedragon0000 commented on #27
Android doesn't stuck but on pause it self close and reopen

[2018-02-24 20:34] dbaldan commented on #27
@whitedragon0000 I've tested both cases:
- Without pausing = OpenBOR closes itself (the unlock screen freezes for a second)
- With pausing = Almost as before (black screen, hang, then cose)

The log only says this (I was in the middle of a level, and there is no trace of all the models cached, loaded, etc)

With pause, now we have a lot, but seams to be the same of the case above

[2018-02-25 03:20] whitedragon0000 commented on #27
for android I have improved the SDLActivity and fixed the use of wakelock,
Now we need to compile new SDL2 2.0.7 with #define SDL_ANDROID_BLOCK_ON_PAUSE  1
Anyone? I can't... (I've windows). We need new libsdl2.so (2.0.7)

[2018-02-25 16:18] whitedragon0000 commented on #27
It's strange that log.
BEFORE ************ Shutting Down ************
We expeted a MSG first. Why No msg? We need to figure out what exception fires this shutdown();
I need help because for this week I cant work to openbor.
I hope in DC and Plombo...

[2018-02-25 16:32] DCurrent commented on #27
As above, I don't have Android environment to compile and can't do anything this conning week. After that I can compile and Android build and do some testing.

[2018-02-25 16:34] whitedragon0000 commented on #27
thanks...

[2018-02-25 16:45] whitedragon0000 commented on #27
ah... may is a shutdown(0,...) (my investigate without test, just looking the code...)
cases are 2: quit in openbor.c or SDL_QUIT in sdl/control.c
My look is on sdl/control.c... from while(SDL_PollEvent(&ev))...
Maybe need do add some control in switch case SDL_QUIT to check the home button...

[2018-02-25 16:57] whitedragon0000 commented on #27
Here... I think that in switch... case SDL_QUIT we need to add the pause check.
Example:
#ifdef ANDROID
			case SDL_APP_TERMINATING:
				shutdown(0, DEFAULT_SHUTDOWN_MESSAGE);
				break;
#else
			case SDL_QUIT:
				shutdown(0, DEFAULT_SHUTDOWN_MESSAGE);
				break;
#endif

This is a possibile patch...

[2018-02-25 17:17] whitedragon0000 commented on #27
or... SDL_QUIT ievent is called by SDLActivity.nativeQuit(); fro java code...
So we need to figure why the onDestroy event fires...

[2018-02-26 10:21] crxtrdude commented on #27
To answer that, the last known version that can run libsdl2 on
Android 2.2 is 2.0.4. That was the version I had compiled for OpenBOR.

If you guys want to make an libsdl2 with the latest build, you guys could do it with yourselves. I had the old projects here for compiling sdl2, but unfortunately I couldn't compile because I reformatted my comp to 64 bit.

[2018-02-26 10:30] crxtrdude commented on #27
[CompileFiles.zip](https://github.com/DCurrent/openbor/files/1758140/CompileFiles.zip)

Here's the Android.mk I used for SDL2. You could tweak appropriately for the latest SDL. Compiling is similar to OpenBOR with a build.bat. As long as you tweak properly the files in android-project folder

[2018-02-26 20:25] whitedragon0000 commented on #27
Hi crxtrdude! can you help us to fix the issue?

[2018-02-28 11:32] whitedragon0000 commented on #27
Read here: [](https://forums.libsdl.org/viewtopic.php?p=50122)
You can read that the sdl 2.0.4 suffers that issue..
I can compile (I use win64)...
Anyone can compile latest build (2.0.7)?

[2018-02-28 11:51] DCurrent commented on #27
I agree with you @whitedragon0000 but would like to get a community consensus before we effectively end support for older Androids. I'll make a post when I get to work  or you can if you like.

[2018-02-28 12:15] crxtrdude commented on #27
Yeah, some people might have older devices. A compromise would be we post the last working android build and note that it's not supported by the devs and only use case for it is for older games, while the newer ones with the newer SDL would be the one supported by us or something like that. But again, it depends on the community whether or not they would do so.

My english today's a bit sketchy so

[2018-02-28 12:50] crxtrdude commented on #27
By the way, I'm downloading the tools required to compile to Android NDK, maybe I could give some help if I can, but it's not a guarantee.

[2018-02-28 13:24] dbaldan commented on #27
@DCurrent @whitedragon0000 Can I give my opinion?
If this update, which will won't support old devices anymore (how old are we talking about?) its the **only way** to fix the Android port - which it's _not functional_ for now - then we have no other option.

But if there is another way, yeah, I think we should look for another solution.

[2018-02-28 14:12] DCurrent commented on #27
@dbaldan that's my way of thinking too, I'd just like to get community word on it. I don't have to ask permission to do anything, but I think it only fair to let others weigh in. I also agree that exactly what devices are affected is a big question. By their nature, mobile devices more or less have to be updated in order to continue using them for their intended purpose. It's one thing if we are g

[2018-02-28 18:04] Chavooj opened #33 "OpenBOR does not recognize correct ps2 adapter"
Sorry for my english.

A ps2 adapter not work correct in recent versions of engine. Button configuration is confusing in this gamepad. In older versions, this problem does not happen, everything works fine. But as of the 2014 versions, the buttons are not recognized correctly.
I would ask you to evaluate this problem and try to fix it, please.

Details: I tested in Windows 10 and XP operating syst

[2018-02-28 18:06] dbaldan commented on #33
It's not the first time I heard a comment about this, but I have the same PS2 convertor and it works. Some of the videos I made about my mod with my son were made using this adaptor.

[2018-02-28 18:21] DCurrent commented on #33
I'm sorry friend, but it seems the adaptor does work for others. Even if it didn't work, I don't have this adaptor and am not willing to go buy one just to test. Sorry.

Closing ticket.

[2018-02-28 18:21] #33 closed

[2018-03-03 15:50] whitedragon0000 commented on #27
I think this is the one solution.: out 2.0.8!

[2018-03-09 00:14] SieKensou opened #34 "OpenBOR Wii doesn't work on USB device"
It seems that it doesn't load the pak files from a USB device. I tried a with a pendrive and with a HDD and it crashes when I try to load OpenBOR ("Exception DSI Occurred!" screen or just a black screen sometimes).

[2018-03-17 03:28] dbaldan commented on #27
WhiteDragon, I've tested the latest version (4742):

If you turn off the screen and turn it back again, the screen gets black but instead of crashing, OpenBor will just reset.

After some time, the engine just close itself.

Here is the log :

Total Ram: 4097286144 Bytes
 Free Ram: 228663296 Bytes
 Used Ram: 189664768 Bytes

SDL video Renderer: opengles2

1 joystick(s) found!
SDL video Renderer: o

[2018-03-17 14:26] whitedragon0000 commented on #27
Yes I know, latest issue is shutdown on power button. Home button is OK instead.
I checked and when you use power button the pollevent fires SDL_QUIT into control.c.
I don't know why... I hope in some. Help..

[2018-03-17 14:57] whitedragon0000 commented on #27
Yes I know, latest issue is shutdown on power button. Home button is OK instead.
I checked and when you use power button the pollevent fires SDL_QUIT into control.c.
I don't know why... I hope in some. Help..

[2018-03-17 14:58] dbaldan commented on #27
Yes, HOME BUTTON is okay now.

[2018-03-18 17:02] whitedragon0000 commented on #27
Update code.
You can read here: https://developer.android.com/guide/topics/resources/runtime-changes.html
Maybe issue is on manifest. onDestroy() event is fired by Power button when manifest is not correctly configured. From API 13 to up need to configure or add to android:configChanges the screenSize (screenLayout?????) and add the check event onConfigurationChanged() in activity.
Now I can't com

[2018-03-21 15:08] DCurrent opened #35 "OpenGL Alignment"
@Plombo I noticed that the default OpenGL has a pretty nasty issue with grid alignment. In 480 widescreen (presumably others, but only tested 480*272) mode, the top Y position is moved ~25 pixels off screen, cutting off the top of levels and breaking scripted draw functions.

To test this, I wrote a [grid drawing function](https://github.com/DCurrent/openbor-script-avalanche/blob/master/dc_draw_gr

[2018-03-21 16:49] rofl0r commented on #35
looks as if opengl would consider the window decorations (title bar) as part of the drawing area...

[2018-03-21 17:19] DCurrent commented on #35
@rofl0r my first thought, but since scale setting affects how much is cut off I'm not so sure.

[2018-03-22 17:42] Plombo commented on #35
So I can see the issue in your screenshots, but I can't actually reproduce it in any build I make. I've tried both Linux and Windows, and compiling with both old and new versions of SDL2, but whatever I do, everything always comes out aligned fine in OpenGL mode.

It does look like what rofl0r said, but if the window decorations are really being counted as part of the display area, the issue seems

[2018-03-22 20:33] DCurrent commented on #35
What Windows version did you test with? I'm on 10 with a 4K screen, maybe it is a graphic driver issue.

[2018-03-22 20:50] Plombo commented on #35
Also Windows 10, though my screen is only 1080p.

[2018-03-24 03:01] whitedragon0000 commented on #27
All solved by me!!

[2018-03-24 03:03] whitedragon0000 commented on #35
I updated sdl to 2.0.8 for windows recently. Try it downloading new tools

[2018-03-24 03:04] crxtrdude commented on #27
You're still using API 13 for this fix?

[2018-03-24 04:38] dbaldan commented on #27
Have you compiled the android version? I would like to test.

[2018-03-24 14:00] whitedragon0000 opened #36 "update to WINDOWS SDL 2.0.8 causing no audio"
Using precompiled mingw sdl2 2.0.8 from official site the static libSDL2.a causing no audio.
Any help?
I upload the my compiled SDL2_gfx 1.0.4 with SDL2 2.0.8 for any help.

[SDL2_gfx.zip](https://github.com/DCurrent/openbor/files/1844442/SDL2_gfx.zip)

[2018-03-24 14:17] whitedragon0000 commented on #36
latest working SDL2 2.0.5 (tested) from 2.0.6 no audio

[2018-03-24 15:53] dbaldan commented on #36
@whitedragon0000 I've tried the 4750 build for windows and the audio works fine.

[2018-03-24 16:24] dbaldan commented on #35
I tried with OpenGL and there is no bug for me

[2018-03-25 14:54] whitedragon0000 commented on #36
I reverted sdl2 api to 2.0.5 in windows.
from sdl2 2.0.6 to up (for windows) sdl uses wasapi api that force audio sampling to 32bit.
openbor uses 16/8 bit so before passing audio sample to sdl first need to resampling the audio to 32 bit.
Any help?
I can't do it, I have no time to study openbor audio sampling.
Thanks

[2018-03-25 14:55] dbaldan commented on #36
But do we need to update it to 2.0.6? What are the beneficts?

[2018-03-25 15:09] whitedragon0000 commented on #36
it is important to prepare the code for the future, otherwise you can not run update ...

[2018-03-25 17:02] whitedragon0000 commented on #36
maybe now it works!!
check it!!

[2018-03-28 21:18] whitedragon0000 commented on #36
Issue on touch on virtual game pad

[2018-03-28 21:21] whitedragon0000 commented on #36
Issue on touch on virtual game pad

[2018-03-28 21:21] #36 closed

[2018-03-28 21:22] whitedragon0000 commented on #27
Issue on touch on virtual game pad

[2018-04-01 23:50] #27 closed

[2018-04-01 23:51] whitedragon0000 opened #37 "Android touch bug"
Unresolved touch (lag?) bug on android port with SDL2 update..
I ask any help...
After any tests I can't fix this issue...

[2018-04-02 00:03] dbaldan commented on #37
Can't we revert the sdl update?

[2018-04-02 09:07] whitedragon0000 commented on #37
But in old sdl2 we have other bugs...
We need to know hot to fix it...

[2018-04-02 13:42] dbaldan commented on #37
Seams to be related with SDL2 itself, not an OpenBOR bug.

Take a look at this, maybe this helps:
https://discourse.libsdl.org/t/touch-input-jitter-on-android/21760
https://forums.libsdl.org/viewtopic.php?p=50274

[2018-04-03 10:30] whitedragon0000 commented on #37
I see... Thanks for your help O'!
I will open a new thread in sdl2 forum..

[2018-04-03 17:52] dbaldan commented on #37
@whitedragon0000 you mean that non-wide screen modules do work if they aren't stretched out?
I don't have any non-wide module on my phone and, as far as I know, I can't change the video settings.

Here are my settings https://imgur.com/pO0e5Gc

[2018-04-03 18:32] whitedragon0000 commented on #37
Change preserve aspect ratio

[2018-04-03 18:37] dbaldan commented on #37
BINGO. It works!
Instead of "preserve aspect ratio", if you choose "stretch", the control lag is gone.

[2018-04-03 19:16] whitedragon0000 commented on #37
Yes! But now... We need to know... Why??
I think that we need to have a surface base under the main game surface to fill all screen.
Now I can't compile...

[2018-04-13 22:40] whitedragon0000 commented on #37
Actually I have no idea how to fix the SDL bug...

[2018-04-14 00:57] dbaldan commented on #37
Dunno.if this version is old, but the custom build his has made doesn't have this lag
http://www.chronocrash.com/forum/index.php?topic=2025.msg52623#msg52623

[2018-04-20 12:38] DCurrent commented on #21
This is now a legacy function set as the new one will be coming online soon, and it has [ full documentation](http://www.chronocrash.com/apps/wiki/obor/index.php?title=Entity_Property_(Scripting)). Closing this ticket.

[2018-04-20 12:38] #21 closed

[2018-04-20 12:39] #20 closed

[2018-04-20 12:42] DCurrent commented on #35
Since no one other than myself can reproduce this issue, I'm closing the ticket.

[2018-04-20 12:42] #35 closed

[2018-04-20 21:15] msmalik681 commented on #37
That stand alone version was based on build v4699 as there was so much talk about input lag on latest version.

I do not think the issue is input lag but a performance issue as I used a update script on my Tekken mod and it was not working right like system tics were being missed.  So if system tics are being missed it would also miss some inputs.  I will do some test to see how the new custom bui

[2018-04-20 22:25] whitedragon0000 commented on #37
Here the SDL topic:
https://discourse.libsdl.org/t/android-touch-issue-after-update-sdl-from-2-0-1-to-2-0-8/24142/8
Maybe the issue is related to setlogicalsize scaling

[2018-04-21 00:30] wd commented on #37
@msmalik681 You mentioned the wrong people, I don't know what you are talking about.

[2018-04-21 09:34] msmalik681 commented on #37
Sorry I had no idea there was a "wd" user I was using it as short for White Dragon.

@whitedragon0000
Congratulations on fixing the bug but there is still a issue with touchscreen.  All touchscreen buttons do not work when remapping buttons.

When you have a wired keyboard connected all buttons work except return as the start button.  As ilu mentioned the gamepad support is more important but i th

[2018-04-21 16:34] whitedragon0000 commented on #37
Ok, so please open SDLActivity.java and see public boolean onKey() methods.
Try to change and test key mapping and compile.
Help me about this because I have not Bluetooth devices.
Thanks

[2018-04-22 00:56] whitedragon0000 commented on #37
Big thanks!!
I can close this bug finally!!

[2018-04-22 00:56] #37 closed

[2018-04-22 00:56] whitedragon0000 commented on #34
no support yet...
may Plombo can see...

[2018-04-22 01:01] whitedragon0000 opened #42 "Android Bluetooth Mapping Bug"
Since updated the SDL version, can't map a bluetooth control anymore. The engine detects random button press. You can't map anything because it keeps detects one of the axis mutiple times or even the other buttons.

[2018-04-22 01:04] whitedragon0000 commented on #42
I suppose that the issue is on method:
public boolean onKey() in SDLActivity.java file
in old SDL uTunnels mapped keycode because there was no support..
Maybe we need to changethis mapping...
So help me because I can't test on bluetooth controller (I have no one).
Go into engine\android\src\org\libsdl\app folder and check for public boolean onKey()  method.
Then try to change keyCodes, compile and

[2018-04-22 09:02] msmalik681 commented on #42
Test 1 was the worst with "P2 Axis 3 +" being set the second you press to set a key so you can set any keys.  With all other versions you can set keys but sometimes randomly "P2 Axis 3 +" may be set.  In my opinion all versions are barable besides Test 1 but lets wait and see what ilu's test show.

Remember to delete the save folder before each test.

Tested with 8Bitdo Zero blutooth gamepad.

[2018-04-22 19:32] whitedragon0000 commented on #42
Thanks!! Now I release a private build with accelerometer disabled to test it... Thanks again

[2018-04-23 08:07] whitedragon0000 commented on #42
Disabled accelerator, please test it and report which version work..
https://www107.zippyshare.com/v/hH4jvg6r/file.html
https://www107.zippyshare.com/v/mVyD4Cwc/file.html
Thanks for all you support!!

[2018-04-23 13:34] dbaldan commented on #42
Thanks for yout hard work, @whitedragon0000
My controller came with an issue and I will need to change it, so I won't be able to test it right now.
I hope @msmalik681  can help you with testing.

[2018-04-23 13:37] msmalik681 commented on #42
I only have one blutooth controller and it works fine we need other models to be tested to get better consistency.

[2018-04-23 13:39] dbaldan commented on #42
So its working fine? You were able to map all the buttons?
There is a website were you can access and test all buttons from any attached controller.
I haven't tested with Android yet, but it should work.

Give it a try http://html5gamepad.com/

[2018-04-23 16:13] whitedragon0000 commented on #42
Ok thanks. So I need to know..
Working this latest gihub version too? or just working my private build version (old key native) on chronocrash?

[2018-04-23 17:52] Plombo commented on #34
It used to work! I'll take a look and see what's up.

[2018-04-23 20:37] msmalik681 commented on #42
For me the private build: "OpenBOR-keyMapNativaForAll.apk"  worked just fine.

[2018-04-23 23:43] DCurrent opened #43 "Crash on Projectile Hit"
I noticed while testing modifications to projectile behavior that some projectiles in my test project cause a program error on hit.

On further inspection it was not the projectile specific changes, and is being caused by an earlier modification. My guess is I've just fat-fingered something during my property project updates, left a dangling pointer laying around, and it slipped through testing un

[2018-04-24 07:02] whitedragon0000 commented on #43
DC in community found another bug related to mp recovery. I just want to notify it. Probably related at these last updates..

[2018-04-24 12:52] DCurrent commented on #43
Same here @whitedragon0000, I'm doing all I can. There's not a thing I can do about the MP recovery until I finish cleaning up the spaghetti logic that runs it.

Back to issue topic, revision 6273377 is known working. Just need to test forward from there until I find the bad commit.

[2018-04-24 12:59] DCurrent commented on #43
Last known good c254a385cce5e9078058289d8644e2b51d251f60.

[2018-04-24 13:01] DCurrent commented on #43
Last known good bebea4e692d797d920d353ba81abecbfe597bedc.

[2018-04-24 13:03] DCurrent commented on #43
Last known good 018879c0afcef57dcc84611f4e50b25c536c602b.

[2018-04-24 13:08] DCurrent commented on #43
First known bad 5d8a9fb602c0801c177ac317b755ce79b088633f.

[2018-04-24 13:10] DCurrent commented on #43
First known bad 8498889b963dbdbdc3cd3403e5ead9893bee39b1.

[2018-04-24 13:14] DCurrent commented on #43
Last known good 6dfc002ce53f495263993176044c9dbf54f5e33b.

[2018-04-24 13:46] DCurrent commented on #43
Last known good 3dcc15590ce52df866861056a0311c4ae851f9f4.

[2018-04-24 14:17] DCurrent commented on #43
Last known good 8101066b7fda975b232ba11ea5b2f14c157e731a.

[2018-04-24 18:59] #43 closed

[2018-04-24 21:54] SieKensou commented on #34
Okay, good, thanks. I hope you can find the problem.

[2018-04-25 05:56] msmalik681 commented on #42
I will keep testing private builds until I figure this.

[2018-04-26 10:58] ElonSatoshi opened #48 "Compiling error"
I keep getting this error when compiling:

[code]

I've tried different versions of gcc, from 7.3.0 to 7.3.1+20180406. I still get this error. My OS is Parabola Linux. What do I do? What other information do I need to specify?

[2018-04-26 11:46] DCurrent commented on #48
Think I see the problem, will try to get a fix in today.

[2018-04-26 12:05] ElonSatoshi commented on #48
Thank you :)

[2018-04-26 13:03] DCurrent commented on #48
Get the latest master and try again, should be fixed.

[2018-04-26 22:56] ElonSatoshi commented on #48
I see a new error now :(

[code]

[2018-04-27 03:36] DCurrent commented on #48
The problem this time is the Linux compiler is stupid. That code has been in place for at least three years and never caused any problems before. I'll see what i can do though.

[2018-04-27 03:46] DCurrent commented on #48
All right. Try latest. It's a kludge fix, but I want to see if my hunch is right.

[2018-04-27 21:42] whitedragon0000 commented on #42
Thanks but now missing to enable touch + gamepad.
We need to fix it!

[2018-04-27 22:57] rofl0r commented on #48
instead of trying to add kludge fixes, i'd suggest using `git bisect` to find the commit that introduced the error, so one can properly reason how the bug came into existence to begin with and can develop an adequate fix or revert the bad commit.

[2018-04-28 03:33] whitedragon0000 commented on #42
touch screen input now is permanent!

[2018-04-29 13:02] whitedragon0000 commented on #42
So... Now gamepad works. For better compatibility we need to wait new sdl release 😉

[2018-04-29 13:14] dbaldan commented on #42
I haven't received my gamepad again, but I will test it for sure when it arrives.
Again, thanks for your hard work.

[2018-05-01 20:42] Plombo commented on #48
In this case, it doesn't look like any commit introduced the error -- it's just a new warning on old code introduced by a new compiler version, which turns into an error because we compile with -Werror. It happens every once in a while.

[2018-05-17 22:40] tonywoode opened #56 "JoyToKey keymapper is unable to map arrow keys in openbor"
see http://www.chronocrash.com/forum/index.php?topic=3869.0

https://joytokey.net/en/ - the latest version v5.9 can be used, though the problem is evident back to at least v4.5...

in  openbor v3 build 4107 from 2015, and in all previous versions I tested, joytokey is able to map arrow keys to joypad movement with no problems
in v3 build v4111 (the next version available on github) this is broken,

[2018-05-20 00:49] whitedragon0000 commented on #56
after 4107 SDL is updated to 2.0.

[2018-06-07 09:30] History-exe opened #57 "About PSP"
Sorry for bothering you.
I notice that this engine can make PSP game! Does it suppport the PSP system 6.60 or 6.61.

[2018-06-13 20:00] SieKensou commented on #34
Any update about this? Have you found the problem?

[2018-06-14 06:51] John3d opened #58 "Would it be possible to launch games individually with Wiiflow?"
Currently, if you try to load a game from Wiiflow, always load the Openbor selection menu to choose the game.

Could not you avoid that menu and load the game directly?

Thanks

[2018-06-14 06:58] msmalik681 commented on #58
It is possible that is what i am trying to implement into the android port I may look at other ports when I am done.

[2018-06-14 08:29] John3d commented on #58
Thanks, I think it would be great if it was implemented in all versions

[2018-06-14 08:55] msmalik681 commented on #58
It would have to be done when compiling the engine the offical build will still load from a pak list

[2018-06-20 19:30] Plombo commented on #34
I said I'd take a look, but then I got distracted and forgot about it...sorry about that.

[2018-06-20 20:04] Plombo commented on #34
Okay, reproduced the issue. Don't know what's causing it yet, though.

[2018-06-21 18:07] SieKensou commented on #34
Ah, okay, don't worry. Thanks for check this. I hope you can find what is causing this problem and a way to solve it. Please, keep me informed.

[2018-07-05 16:16] Plombo commented on #34
Spent a few more minutes on this today but still haven't made much progress.

[2018-07-05 16:21] Plombo commented on #58
OpenBOR will launch directly into a game if there's only one pak in the paks folder. If you really want to launch games separately like that, just make separate directories in the apps folder for each game, each with its own copy of the OpenBOR executable. There's no need to change the engine for this.

[2018-07-05 16:21] #58 closed

[2018-07-06 15:16] whitedragon0000 commented on #56
keymapper not support however

[2018-07-06 15:16] #56 closed

[2018-07-06 15:17] whitedragon0000 commented on #34
I wrote some changes to code..
try it compiling by yourself...

[2018-07-10 09:45] SieKensou commented on #34
I have tested the last version (6276 from Jul,9 2018) and the problem is still there.... First try, the black screen with adressess and numbers error and the second try just a black screen.

[2018-07-10 18:31] ChillyWillyGuru opened #59 "Huge pack file"
There a HUGE (1GB) pack file in the .git directory of the repo that makes the repo ridiculous in size named: pack-bad2c1c73c3088c38db4c0294dcb050946913b2b.pack
Is that supposed to be there? And what is it?

[2018-07-11 09:23] SieKensou commented on #34
Okay, thank you for the try.
The problem is that it doesn't load nothing, it doesn't show the menu with the list of pak files, it just crashes when I try to load the app. Plombo said he reproduced the issue so it seem it's some kind of bug. I hope this can be fixed to enjoy this great project. What is weird is that anybody said nothing about this bug until I decided to do it (maybe people has old

[2018-07-11 15:01] dbaldan opened #60 "Suggestion: Duck animation"
There is something we could think for the future - **the duck animation**. Right now, even we can changing this behaviour with script, the way it works now doens't makes much sense or is efficient.
Because when you are in DUCK animation an executes and attack, it will revert to the DUCK animation after its done - but the DUCK animation had ducking sprits, which makes it look weird. And if you remo

[2018-07-11 18:15] DCurrent commented on #60
I don't have a problem with this, and would go so far to do you one better - if this is coded in, there's no reason not to separate transitioning to/from duck into their own animations. This would aid authors who want to set up state base cancels and reactions. Think Soul Caliber, where attacks are different if you initiate them while ducking or rising.

Naming conventions are important. The curre

[2018-07-13 23:09] dbaldan commented on #60
I am glad you liked the idea.
How hard it would be to implement?

[2018-07-30 18:05] DCurrent commented on #13
FYI for anyone monitoring this, I am starting back into the property project. Still a ways to go, but will be well worth it.

[2018-08-07 21:39] msmalik681 commented on #34
This has been fixed just waiting for the commit then I will release a new build.

[2018-08-07 21:39] #34 closed

[2018-08-09 14:04] SieKensou opened #69 "Wii Port - D-Pad Up Key doesn't work in menu when selecting a game"
I have tested the last version (thanks for fixing it to make it work with USB) and it works fine with Game Cube Controller or Wii-Mote controller, but when using my original Pro Controller it doesn't work when I press up with the D-pad (it works if I use the analog, but not in the D-Pad). It works perfect in-game too, only doesn't work Up in the menu when selecting between the diferent pak files.

[2018-08-09 14:09] dbaldan opened #70 "OpenBOR controller issues"
NSW had made a video showing how the controllers are acting strange in OpenBOR.
If you watch the video, you can spot some weird things happening

http://www.chronocrash.com/forum/index.php?topic=4005.0

[2018-08-09 14:32] SieKensou opened #71 "Wii Port - Enemies moving horizontally when they fall to the floor"
I have tested various .pak files and I noticed this problem. Watched some videos of these packs and the enemies shouldn't move like that when they are on the floor (they should be stopped in the same place). And they just continue moving horizontally on the floor until the end of the stage...
I happens in all the games I have tested until now....

[2018-08-09 14:33] dbaldan commented on #71
This were already fixed on the code (I think its on the latest release).

[2018-08-09 15:12] msmalik681 commented on #71
Yes it was !

[2018-08-09 15:12] #71 closed

[2018-08-09 16:33] SieKensou commented on #71
Cool! I tested version 6385 and it works perfect now (I was using 6384). Thanks for the good job!
I'm noticing other problem in the game Night Slashers X. When Maybe it's related or it's something similar. When I perform a special move to the left (left, left, attack or down, left, attack), at the end of the move, the characters is moved suddenly to the right like if he was pushed away. It works f

[2018-08-09 16:34] dbaldan commented on #71
Yes, it's a know issue. Its related only with the WII port.

[2018-08-09 16:37] SieKensou commented on #71
Okay, I hope it can be fixed. It's a great job what you guys are doing with this engine and I love to play it on the Wii.

[2018-08-09 19:01] msmalik681 commented on #69
That is a odd bug @demothens can you check why this is not working on the pak selection menu as you added the support for the pro pad and can you use the trunk version as I added the support using the lib and include files in the tools folder and I did not use that wupc.c file just the wupc.h as recommended on the github for the fix.

[2018-08-09 19:47] SieKensou commented on #69
It's the Classic Pro Controller for the Wii, not the Wii U Pro Controller. I don't have the standard Classic controller at hand right now to check if it happens with that one too, but it should as they are the same in functionability.
The one I have tested is this one (Original from Nintendo): https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Gold_classic_controller_pro.JPG/800px-Gold_clas

[2018-08-09 21:14] msmalik681 commented on #71
I am aware of the velocity bug and i hate it i have been investigating a lot into this bug but have not fully narrowed down the problem script i think its how the wii port handels float values by script.

[2018-08-09 22:33] SieKensou commented on #71
Yeah, this bug is very annoying and it would be great that it could be fixed in some way. In the game I said it happens only when doing the moves to the left side. Is it always like this?

P.S.: I have a small question that I still couldn't solve. How should I name the screenshots and where should I put them to appear as a preview when I'm selecting a game? Can I put more than one and all will be

[2018-08-10 16:15] SieKensou opened #72 "Wii port - Various errors in some pak games"
As you will noticed I'm testing OpenBOR on the Wii this days. I know some of the issues can be caused for bad programming in the pak files themselves but I will tell you the problems I have found in different games for possible fixes.

1-Art of Fighting - Beats Of Rage Remix III:
All bugs was fixed in a updated versión, so they were bugs of the module.

2-Night Slashers X:
Fixed by msmalik681 and

[2018-08-10 17:54] DCurrent commented on #72
If I may, a lot of these tests would be more helpful if you conducted them on the PC version under same conditions. This would go a long way toward helping us discern what the issue is.

- Wii port bug
- Engine Bug
- Backward compatibility issue (we try to keep full backward compatibility, but things happen)
- Author error in the module.

Thanks for ally our help!

[2018-08-10 18:29] msmalik681 commented on #72
Most of these issues are the mods not being optimised for Wii some mods are just too heavy to run but some mods can run with a simple fix just extract the mod then compress all sound effect files to the lowest setting 8-bit mono 6000Hz this will fix any garbage sound effects and reduce the memory consumed (the Wii only has 64mb ram).

I am trying now to fix the issue with being thrown to the right

[2018-08-10 22:12] SieKensou commented on #72
Thanks to all for the replies.

@dbaldan
I'm editing the sound files of the Fighters History Revenge to see if it works (it's a mess, some are in stereo, some in mono, some in 16 bits, some in 8 bits....). It will take a while because there are too much sound effects and I don't have too much time, but it's good to see it can work fine after that. (anyone can tell me how to make the pak again? I e

[2018-08-10 22:38] SieKensou commented on #72
@dbaldan
Yes, I'm using GoldWave, but I was doing it one by one to fix the files that has some noises at the end or something. Thanks for the tip, I didn't noticed that Batch Processing option :)
Do you know how to change the Hz of the wav files? When I save the file I just can change to wav 8 bits mono or stereo but I don't see the Hz option and some of the sounds are in 44100Hz. In the mp3 I can

[2018-08-10 22:44] dbaldan commented on #72
@SieKensou they had changed this over time, but I am not wrong, when you go and save, there is a button where you can choose the frequency (or you can go and use RESAMPLE). I can't confirm it right now because I am on a Mac, but I am pretty sure there is an option for resample (but it will ask you the frenquency when you save).

You need borpak.exe

Save this as a .bat and run it:
borpak.exe -d DA

[2018-08-12 09:45] SieKensou commented on #72
Thanks @dbaldan it worked fine and now I can resample the sound effects and compile the pak. I updated the first post. The Art of Fighting Beats of Rage Remix III bugs was bugs in the module that were fixed later. The Fighters History Revenge problem is what you said, so resampling all the sound effects fix the problem (good to know because I found the same problem in more games I have tested).

@

[2018-08-12 09:58] msmalik681 commented on #72
The engine should have settings for sound effects try deleting your saves folder and then re-run the game.

With the below link you will find a test build please check Nightslashers X and see if you can perform the moves when facing left now.

http://www.chronocrash.com/forum/index.php?topic=3990.msg55419#msg55419

[2018-08-12 15:03] SieKensou commented on #72
Okay, I will try deleting all the config.

I tested that latest build you said with Night Slashers X and sadly the problem is still there :(

[2018-08-13 20:25] msmalik681 commented on #72
I will try to fix the issue with the previews next.

[2018-08-13 21:05] DCurrent commented on #72
Guys, please limit each issue request thread to a single bug. This lets us keep a better workflow to track the issues and close them out.

[2018-08-15 21:30] SieKensou commented on #72
Okay DCurrent, sorry. For the next time I won't put various bugs in the same issue.
Thanks for the good job you all are doing with this great engine.

[2018-08-17 00:19] KoldMonster12 opened #75 "Problem Starting OpenBOR"
Hey, I tried starting OpenBOR for Windows and it refused to start.  Will someone try to figure out the problem was?  Thank you.

![openbor-issue02](https://user-images.githubusercontent.com/42454517/44241422-d7f09c00-a191-11e8-8152-c81c8931797e.png)
![openbor-issue01](https://user-images.githubusercontent.com/42454517/44241423-d7f09c00-a191-11e8-95b9-afcfdcd264bb.png)

[2018-08-17 06:35] msmalik681 commented on #75
Are you using the latest build 6390 : https://github.com/DCurrent/openbor/releases/tag/6390

[2018-08-17 21:40] KoldMonster12 commented on #75
Yes.

[2018-08-19 11:49] SieKensou opened #76 "Wii port - FX sounds plays too low"
I'm not sure why but I always have to put the volume of the FX at maximum and even with that they doesn't play too high... I think something is broken there.

These changes doesn't work for the OpenBOR menus? Is not suposed that the "click" that sounds when I'm changing the value of the FX should sound high or low depending of the value? Because I don't see difference when changing the value to a

[2018-08-19 12:09] msmalik681 commented on #76
Still trying to fix the previews then I will look in to this.

[2018-08-19 22:27] SieKensou commented on #76
Thanks @msmalik681

[2018-08-20 09:31] msmalik681 commented on #75
multiple users have reported no fault using the windows port this issue maybe connected to some other fault with your specific system.

[2018-08-20 09:31] #75 closed

[2018-08-20 10:16] msmalik681 commented on #59
the whole .git directory has nothing to do with the engine itself and you can download the source code directly from GitHub site without including that folder.

[2018-08-20 10:16] #59 closed

[2018-08-20 22:02] msmalik681 commented on #72
As you have started a new issue for the SFX I will close this as everything else has been resolved.

[2018-08-20 22:02] #72 closed

[2018-08-27 10:25] a7mag3ddon opened #80 "Make the main window larger"
Hello,

Please can you add an option (or the ability to use mouse to grab and stretch) to make the main window larger, on my screen its tiny and can barely read the text.

[2018-08-27 11:03] DCurrent commented on #80
OpenBOR already supports window size. Go to video options and you can choose the size you need. Due to portability, support of drag sizing is a very low priority.

[2018-08-27 11:03] #80 closed

[2018-08-27 11:03] msmalik681 commented on #80
You can set full screen by setting it in options or press ctrl + return.

[2018-08-27 14:37] a7mag3ddon commented on #80
Presssing ctrl+enter key just starts the highlighted game, using a PC is there a different way to get to settings?

[2018-08-27 15:13] msmalik681 commented on #80
Press ctrl+enter once openbor is in full screen next time you start it the programme should be in full screen from the start.

[2018-08-27 15:16] a7mag3ddon commented on #80
That doesnt work for me, pressing ctrl+enter just starts the game thats highlighted.

[2018-08-27 15:27] msmalik681 commented on #80
Press it before you get to the pak selection menu

[2018-08-27 15:34] a7mag3ddon commented on #80
still the same, does nothing.

[2018-08-27 15:36] a7mag3ddon commented on #80
I got it! its not left CTRL its left ALT+ENTER then it goes full screen :smiley:

[2018-08-27 16:15] msmalik681 commented on #80
for questions like this I would recommend using the offical openbor forum [](http://www.chronocrash.com/forum/)

[2018-08-28 06:32] a7mag3ddon commented on #80
@DCurrent It was a request for emulator main window before you start a game, not when when your in a game as i know you can change game window settings there).

[2018-08-28 14:47] DCurrent commented on #80
@a7mag3ddon my bad, sorry about that.

[2018-08-29 17:13] Plombo opened #85 "[Wii] Engine crashes on launch when loaded from USB with no SD card inserted"
It's in the title: OpenBOR on Wii can be loaded fine from a USB device if an SD card is inserted, but if no SD card is in the console, it crashes with a code dump on launch.

[2018-08-30 08:42] msmalik681 commented on #85
I have tested in every combination on latest build 6412 and it worked just fine !

Can you test wiiflow and see if it can load iso's from usb ?

[2018-08-30 08:50] msmalik681 commented on #76
this is my current focus but I am useless with audio stuff I have been looking over the code for days without any progress I will ask Plombo for help on this.

[2018-08-30 21:29] SieKensou commented on #85
I never had a SD inserted on the Wii when playing OpenBOR and I never noticed that problem, it loads fine.

[2018-08-30 21:31] SieKensou commented on #76
I hope you can do something. It seems that from the default value to down, it downs the volume, but from the default value to up, it doesn't high the volume... I could be wrong, but this is what I noticed yesterday with one game.

[2018-09-04 17:16] Plombo commented on #85
Okay, I've tested further and found the actual problem: the Gamecube controller adapter I have plugged in to the other USB port. Which causes a crash on startup only when launching from USB with no SD card inserted.

Launch from SD, GC controller adapter in USB port 2: no problem
Launch from USB, GC controller adapter in USB port 2, SD card inserted: no problem
Launch from USB, GC controller adapt

[2018-09-04 17:53] Plombo commented on #85
Unsurprisingly given the type of problem, it seems to be a libfat issue.

[2018-09-05 06:16] msmalik681 commented on #85
So usb works but in a very specific senario device conflict will cause a crash.

Do we have to leave this issue open as we have no control over libfat ?

[2018-09-05 13:50] Plombo commented on #85
Feel free to unassign yourself from it, but I want to keep looking into this one. Every other Wii homebrew app works fine with this setup, so it is probably a problem with how we are using libfat.

[2018-09-05 16:44] Wiimpathy commented on #69
It doesn't work with the Wii Classic controller either. In refreshInput() from menu.c you should seperate the classic buttons. Maybe like this:

[code]

[2018-09-06 14:57] Wiimpathy commented on #85
It will also crash with other devices in port 1 like an usb keyboard for example. Adding a delay to be sure the drive is mounted should fix it. Here's how it's done in genesis plus gx:
https://github.com/ekeeke/Genesis-Plus-GX/blob/master/gx/main.c#L362

Not directly related but https://github.com/DCurrent/openbor/issues/58 has been closed and there's no solution right now. If you're interested, I

[2018-09-06 17:35] msmalik681 commented on #69
@Wiimpathy thanks i will make a test build with this change.

[2018-09-06 17:59] Plombo commented on #85
Thank you, that is incredibly helpful!

[2018-09-06 18:00] Plombo commented on #85
Oh, I didn't even notice you'd fixed it in your branch...

[2018-09-06 18:01] dbaldan commented on #85
@Wiimpathy thanks for helping :)

[2018-09-07 06:05] msmalik681 commented on #85
So is this issue fixed now ?

[2018-09-07 11:05] DCurrent commented on #85
@msmalik681 I believe so, but can't confirm.

[2018-09-16 15:24] DCurrent opened #94 "Entities blocking in falling state."
Entities in fallen position can occasionally block incoming attacks. This creates a jarring scenario where a fallen entity sudden appears in standing block pose.

1. Knock down entity with high block chance in modeltext.
2. Attack entity with OTG capable strike, do not enable unblockable flag. The fallen entity may block the attack, appearing instantly in block pose from fallen position.

[2018-09-16 15:43] dbaldan commented on #94
This is kinda strage, because I have the same situation on my mod and I never had any issue.
Those OTG should be set to unblocked - it makes more sense that way. This is an user error.

But the engine should not try to block an attack while on ground.

[2018-09-16 16:05] DCurrent commented on #94
I found the problem - just a simple logic fix, but I'm cleaning up the block code while I'm at it. It's very messy and redundant. Have it finished by tonight or in the morning.

[2018-09-16 20:52] msmalik681 commented on #94
Great work

[2018-09-19 15:12] DCurrent opened #95 "Player holdblock disabled by blockpain."
## Description
When players with blockpain animations block an attack, they return directly to idle while still holding block - even if holdblock is enabled.

## Debugging

### Reproduce
Provide step by step instructions to reproduce the behavior. Include any text files, scripts, etc., along with the engine log. In some cases, we may need a download link to your entire module:
1. Enable holdblock

[2018-09-22 14:07] dantedevilMKTC commented on #94
After doing several tests with the OpenBOR.v3.0.Build.6315, I have found several new problems, generated by this bug. In order to be better understood, I decided to share a video to make it clearer:

https://www.youtube.com/watch?v=Ph2prRMJdG4

In this video you can clearly see how the enemy appears standing blocking the attack, without going through the anim rise.
But other new bugs come later, i

[2018-09-23 13:53] dantedevilMKTC commented on #94
I was testing each build in descending order, from the last one backwards and finally I can confirm that the bug started with OpenBOR v3.0 Build 5134.

Until the OpenBOR v3.0 Build 4905 which is the previous one, everything works fine.
It should be noted that in this build I also work the Ilusionista Script for branch in holes.
http://www.chronocrash.com/forum/index.php?topic=3910.msg54840#msg5484

[2018-10-31 18:54] dantedevilMKTC opened #98 "Bug direct Game Over"
When I play a game and lose my lives, the Game Over screen comes out directly and it does not let me continue, even though I have more credits left.
No matter in any mode, "noshare" will cause all modes to lose all life , go to the Game Over. There are still many "credits".
After some testing on this bug, i found out what actually specificaly is happening and it may help you to fix this.
Normally

[2018-11-01 15:16] DCurrent commented on #98
Thanks @dantedevilMKTC, I will look into this soon.

[2018-11-06 14:00] msmalik681 opened #99 "Hit Flash"
when using the new method "attack.effect.hit.flash.model" to set a hitflash it will overwrite the default flash set in entity header but using old method "hitflash" is still ok.

[2018-11-06 14:03] msmalik681 commented on #99
when using the new method "attack.effect.hit.flash.model" to set a hitflash it will overwrite the default flash set in entity header but using old method "hitflash" is still ok.

[2018-12-18 15:43] dbaldan opened #100 "Running AI FLAG is still active on cancel"
## Description
Whenever a player is on a RUN animation and uses a CANCEL to go to a FREESPECIAL, the internal flag "running" won't be reverted to 0. So if you are still holding the foward key, once the freespecial animation is over, the player will rever to IDLE animation but will start to slide on the floor.

## Debugging

### Reproduce
1. On a RUN animation, add a CANCEL
`cancel	0 9 0 a2 freespe

[2018-12-18 23:22] nsw27 opened #101 "lifespan and suicide script not always working for dust or hitflashes."
There are some instances where entities do not disappear at end of lifespan or with suicide script: such as putting on last frame of animation @cmd	killentity getlocalvar("self").

examples I have observed are hitflashes and dust, it is hard to replicate as I cannot determine what the triggering factor is for the issue but it has been observed and known by a few in community.

I have tested dust e

[2018-12-18 23:26] nsw27 opened #102 "Facing 1"
If you create text or an object facing proper direction, the engine default flips images so you then are to use facing 1 to turn it back the way it was intended.

There is a issue with facing 1 it will actually not be facing the right way upon spawn for the first frame.

can see this issue if entity is at start of a level and there is a story cutscene for example.

so current workaround is you nee

[2018-12-19 00:09] nsw27 commented on #18
could  similar approach be done with sounds ? for example there is something in a level making a repeated looped noise, but as player continues across level and that thing is scrolled off screen the sound fades and gets louder again if player returns closer ?

Just an idea

[2018-12-19 00:41] dbaldan commented on #18
@nsw27 this can be done using scripts

[2018-12-19 00:42] nsw27 commented on #101
example

[2018-12-19 02:51] DCurrent commented on #70
We have an ongoing discussion about this as of 2028-12-17 in development area of forum. @plombo is looking into it.

[2018-12-19 03:02] nsw27 opened #103 "positioning of entities sequence in models text"
Unsure if this is intentional or known but the positioning/order of known and load entities on models text affects the engine.

http://www.chronocrash.com/forum/index.php?topic=3841.msg52890#msg52890

Example if you have a item spawned into level directly then it will work. but  if you have a enemy who drops an item in a level it is wont work depending on where that item is located in models.txt f

[2018-12-19 03:07] nsw27 commented on #99
Hi I think this is not related to just the new method as I do not use that and can confirm this issue still remians.

I reported it a while ago

http://www.chronocrash.com/forum/index.php?topic=4079.0

[2018-12-19 06:57] DCurrent commented on #18
Not only can it be done, it already has been, since ~2007. All of my Golden Axe demo videos show this in action, and the code was public for several years. Anyway, let's all please keep discussions about the specific bug or request topic.

[2018-12-20 21:06] #70 closed

[2018-12-21 16:42] Plombo commented on #85
This has been fixed for a while. Forgot to close it.

[2018-12-21 16:42] #85 closed

[2018-12-21 20:34] #98 closed

[2018-12-21 21:04] #100 closed

[2018-12-21 21:10] DCurrent commented on #103
@nsw27 Please provide some details and text examples of this. Your report and linked post contradict each other. Linked post says items spawn but won't drop from parent entity, report says items drop from parent entity but won't spawn.

[2018-12-21 21:15] #99 closed

[2018-12-21 22:09] DCurrent commented on #102
The engine is intentionally designed to skip updating fresh entities - which does mean some things do not take effect until the second frame. I can look at changing this later, but since it isn't really a bug I'm closing for now.

[2018-12-21 22:09] #102 closed

[2018-12-21 23:21] dbaldan commented on #23
@DCurrent can you take a look at this?

[2018-12-22 00:56] DCurrent commented on #23
@dbaldan I will, but no guarantees. It's pretty low on my priority list until I can get other things cleaned up.

[2018-12-22 00:57] DCurrent commented on #85
Thanks @plombo, I don't have a Wii to confirm.

[2018-12-27 15:16] #101 closed

[2018-12-29 04:35] nsw27 commented on #102
I know you have closed this but I think its also linked to this same issue.

if you have a entity that is to be spawned but have a spawn01 etc script in first frame the entity wont appear at all.

example the drip spawn like this will cause bodexp to not appear at all

`name		bodexp
type		none
shadow	0

palette none

animationscript data/scripts/script.c

anim	idle
	loop	0
	bbox	0 0 0 0
delay 30
s

[2018-12-29 04:53] DCurrent commented on #102
Yes, these are exactly the same - and again, not really a bug, and not really anything I can change without causing tons of problems elsewhere. If you need an action to take place immediately on spawn, then use an _onspawnscript_.

[2018-12-29 06:15] DCurrent commented on #95
After searching code base, discovered a second bit for _holdblock_ added in 00d501f1dd4754475cbe508c2e8a4a4c40bd89af but not documented. Use _holdblock 2_ to get expected behavior. Documented in Wiki and closing ticket.

[2018-12-29 06:15] #95 closed

[2018-12-29 06:19] #94 closed

[2018-12-29 09:11] 1900forever opened #106 "Compiling Error on macOS"
Using the latest code to compile on macOS 10.13.6 with Xcode 10.1.
I was using the following command:

`
cd engine
`
`
./darwin.sh
`

and the error was shown:
`
find: /lib: No such file or directory
`

How can I fix it? Thanks.

[2018-12-29 12:35] Wiimpathy commented on #69
I don't think so. What's been fixed recently was a bug in-game: https://github.com/DCurrent/openbor/commit/fdcb7a6ab70b72aae8b342137f6125ad3bc1e1cc
Here, it only happens in the menu with specific Wii controllers. There's a possible fix in this branch : https://github.com/Wiimpathy/openbor/commits/wii-plugin-and-fixes

[2018-12-29 15:34] DCurrent commented on #106
That's a Mac library. Sorry, but we dropped support for that some time ago. OpenBOR runs great on Wine.

[2018-12-29 15:38] Plombo commented on #69
I'm still away from home on holiday travel right now, so it will be at least a couple more days before I can look at it.

[2018-12-29 16:03] DCurrent commented on #106
After editing going through the toolchains and my own notes, I had edited my comment about 50 times, best I put everything in a new comment. Here's the deal:

The MacOS port is technically still supported, but it isn't supposed to be. I meant to drop it almost two years ago and evidently just forget to pull the trigger. So right now the toolchains are there and you can _attempt_ to compile. But th

[2018-12-29 16:03] #106 closed

[2019-01-06 17:49] dbaldan opened #111 "LoadGame vs globalVariable"
## Description
On Android, I've discovered that if you have a globalvariable active while you load a game, it will make the engine crash. It will close like it was a NULL POINTER, with no trace on the log.

This error happens only on Android port. On Windows, it works normally.

### Reproduce
It can be a little tedius to reproduce the error and I can provide an easier version to reproduce it.

- D

[2019-01-07 16:35] DCurrent commented on #111
@dbaldan thank you. if you can find the build or better yet, the code commit (assuming you can compile), that should get us very close to the solve point.

[2019-02-10 15:34] DCurrent opened #124 "Legacy Blast Enables Friendly Fire"
## Description
Attack boxes may optionally cause an entity to bowl over its allies as it flies through the air. This is accomplished by an attack box on the entity's falling animation, and the that knocked entity down applying a ["blasted" state](http://www.chronocrash.com/apps/wiki/obor/index.php?title=Entity_Property_(Scripting)#blast_state), allowing entity to cause friendly fire until landing.

[2019-02-10 15:39] dbaldan commented on #124
Sweet, really thanks!

[2019-02-10 15:42] #124 closed

[2019-02-10 15:47] #103 closed

[2019-02-18 10:15] stizzo1 opened #126 "Request to edit virtual keys."
I reported in this thread:

http://www.chronocrash.com/forum/index.php?topic=4313.0

[2019-03-17 10:21] nsw27 opened #127 "logo.gif issues"
This is a old issue that has been around since I started with Openbor but thought I would raise it here.

logo.gif does not work properly. It only shows one of the images. If you have a logo with 2 separate images it never shows both.

Here is a current example. Has details about Thatcher Productions and second image is made on Openbor engine.

![logo](https://user-images.githubusercontent.com/457

[2019-03-17 14:08] dbaldan commented on #127
I don't think its an issue. Just use multiple images on your logo.txt

[2019-03-17 14:38] DCurrent commented on #127
Logo was never meant to support animation, and it's better not to so we can support true color. That's specifically what data/scenes/logo.txt is for, and its been around since the original BOR. Closing this as a non-issue.

[2019-03-17 14:38] #127 closed

[2019-03-17 21:05] nsw27 commented on #127
I think this may be prematurely closed. Logo.gif doesn't even play on android versions.

plus when removing logo.gif and instead using logo.txt the game engine crashes and says

Error loading background (PIXEL_x8/PIXEL_32) file 'data/bgs/logo'

in my scenes folder I have logo.txt

[logo.txt](https://github.com/DCurrent/openbor/files/2975693/logo.txt)

[2019-03-18 13:33] dbaldan commented on #127
There are two things here:
1- Nobody said to remove the logo.gif - we said to use logo.txt to create animations.
2- There is an issue here for sure -  logo.gif isn't showing in android port at all.

I will open a new report for this.

[2019-03-18 13:42] dbaldan opened #128 "Logo.gif doesn't shows in Android port"
## Description
Logo.gif works fine in Windows port, but in Android port, it doesn't shows.

## Debugging

### Reproduce
1. Get any game which uses logo.gif
2. Run it on Android

### Expected behavior
Logo.gif should appear.
I've tested it on my Avengers game, which uses logo.gif and logo.txt for animation.
The animation runs fine, but the logo.gif doesn't appears.

### Screenshots
If applicable, a

[2019-03-18 16:48] DCurrent commented on #127
As mentioned above the logic behind logo.gif is doing exactly what is was meant to do since 2004, including telling you when the file is missing. Kludging up animated .gif support for logo just isn't logical, but I can look at allowing omission of the logo.gif file.

As for the Android, yes that is a completely separate issue and doesn't belong here. I would ask for a report, but looks like @dbald

[2019-03-18 16:50] DCurrent commented on #128
I don't have OpenBOR on Android so this is pretty much impossible for me to test and diagnose. @Plombo would you have an idea off the top of your head? If not guess I can poke around for something obvious in the code...

[2019-03-18 20:29] Plombo commented on #128
I don't have anything off the top of my head, no.

[2019-03-18 20:39] DCurrent commented on #128
@Plombo Thanks for chiming in. Oh well, guess I'll poke about. I know slightly less than 0 about the ports, but maybe it's just some silly oversight.

[2019-03-18 20:40] dbaldan commented on #128
I think @msmalik681 can give a hand here.

[2019-03-19 00:13] msmalik681 commented on #128
I am switching to a new pc at the moment.  I will find a way to fix this as soon as I am back up and running again.

@DCurrent anyone with windows and a strong enough cpu can run bluestacks (android virtual machine) this is a great way to debug android apps.  I will make a tutorial on how to set this up.

[2019-03-22 08:59] nsw27 opened #130 "players can select same characters on select screen despite nosame 1"
## Description
if on select screen as player 1 and then player 2 enters select screen they can be hovering on same character. player 2 then presses start and can be that player and if player 1 hasn't moved they will still be on same player and can select the character also. despite having in level text

nosame 1

on further testing this also occurs if player 1 chooses character first.

if player w

[2019-03-22 12:42] dbaldan commented on #130
@nsw27 please, always inform the build too.
I've tried to replicate it but it's working for me in build 6325

[2019-03-22 20:32] nsw27 commented on #130
its a shame openbor log doesn't detail the proper build number as it makes remembering build number difficult.

this is the build

[OpenBOR.zip](https://github.com/DCurrent/openbor/files/2998198/OpenBOR.zip)

if it cant be replicated on another mod perhaps its something in my game causing conflict ?

[2019-04-01 17:34] dbaldan opened #131 "Bindentity vs Hitwall animation"
## Description
If you use _bindentity()_ to bind an entity (a) over another (b), when (b) hits a wall and has the "HITWALL" animation (which triggers itself instantly when the entity hits a wall if it's on a fall animation), the (a) won't be killed even if you use the _bindanimation_ as 4 (Kill the entity if the animation doesn't match).

## Debugging

### Reproduce
1.  Add the animation HITWALL t

[2019-04-04 10:23] msmalik681 commented on #128
My tests show that this is a issue with all builds including windows.

logo.gif is displayed if there is only 1 pak file and there is a direct load bypassing the pak selection menu.  When there are multiple mods in the pak folder any mod loaded from the pak selection menu it will miss the logo.gif file.

I have isolated the issue still trying to figure out how to fix it.

[2019-04-04 13:01] msmalik681 commented on #128
@dbaldan  can you try this test build both android and windows are there.  It worked for me so I think after pressing attack/start to pick a pak file from the menu the button press was still registered when the pak loaded and skipped the logo.gif.  Please report back with your results.

[](https://www.mediafire.com/file/zhid5h3g5570gwy/logo.gif.fix.test.zip/file)

[2019-04-04 13:06] msmalik681 commented on #126
@DCurrent correct me if I am wrong but this seems more like a request then a bug or engine fault should it be here ?

[2019-04-05 05:22] DCurrent commented on #126
Requests can be here, but since this one is very low priority and on the back burner, I'd rather close it for now so the real issues take center stage.

[2019-04-05 05:22] #126 closed

[2019-04-08 01:08] dbaldan commented on #128
@msmalik I tried to install this version, but it failed (Android 9.0)

[2019-04-08 05:36] msmalik681 commented on #128
Nsw25 also had a new security block try this:

https://support.mobile-tracker-free.com/hc/en-us/articles/360005346953-How-to-disable-Google-Play-Protect-

[2019-04-08 17:00] dbaldan commented on #128
@msmalik681 I've followed that instruction and now it installs.
I've tried this test build and now the logo.gif is showing.

[2019-04-08 18:49] msmalik681 commented on #128
Good enough for me.  Thats is 3 people that have confirmed this issue resolved.

Closed.

[2019-04-08 18:49] #128 closed

[2019-04-08 19:44] DCurrent commented on #128
Thanks @msmalik681.

[2019-04-12 12:54] dbaldan commented on #111
@DCurrent the last bug fix made my @msmalik681  (about the logo.gif) seams to be solved this issue, as my initial tests are telling me.

I will further investigate it to confirm this.

@msmalik681 did you made that fix based on the last engine version?

[2019-04-12 20:45] msmalik681 commented on #111
@dbaldan The test build was based on v6412.  If that version has fixed this issue please close this issue down.

[2019-04-13 19:38] dbaldan commented on #111
@msmalik681 Thanks.
As I've explained above, I will close this once I am sure this is not happening anymore.

[2019-04-20 17:42] DCurrent opened #134 "OnSpawn Fails on Projectile"
Please complete the following template to help us investigate your issue. Developer time is very limited - incomplete issue reports may be ignored and deleted.

**Note:** Legacy builds are not supported. Any fixes will be applied to the latest engine builds.

## Description
onspawnscript does not fire when entity is spawned as a projectile or steam.

## Debugging

### Reproduce
Create a projectile

[2019-04-20 17:43] #134 closed

[2019-05-01 14:30] trislett opened #137 "Update requirements for linux build."
## Description

Not a bug. Just a request to add libvorbis-dev and libvpx-dev to the wiki as required libraries in the linux compiling instructions. Otherwise there will be errors with vorbis.h and vpx_decoder.h.

### Version

Xubuntu 18.04

Master- 02375fb
and
6412

[2019-05-01 16:03] msmalik681 commented on #137
Haxpor said he did compile on linux can you confirm these files are needed ?

If they are needed I will look into adding them.

[2019-05-01 16:10] trislett commented on #137
Yes, it was required with a fresh install of ubuntu.

[2019-05-01 20:59] msmalik681 commented on #137
[Read this](https://wiki.hard-light.net/index.php/Fs2_open_on_Linux/Installing_the_Development_Libraries) I do not use linux but it seems like these are libraries you need to download.

@haxpor do you know why it will not compile on linux ?

[2019-05-01 21:30] jbeich opened #138 "Fails to build on aarch64 with Clang"
## Description
Regressed by 4d471b75707d. GCC is not affected. See [downstream logs](http://thunderx1.nyi.freebsd.org/data/latest-per-pkg/openbor/) for good/bad builds.

### Reproduce
[code]
or
[code]
### Expected behavior
Builds fine as if 4d471b75707d was reverted.

### Environment
[code]

### Version
- Unix aarch64
- 6311 or later

[2019-05-02 07:19] trislett commented on #137
@msmalik681 you are correct. These are libraries that need to be downloaded. Just to clarify, I have successfully compiled openbor. I am only suggesting to add a statement to the compiling instructions that these libraries may be necessary for future linux users.

e.g.,
Ubuntu
[code]

[2019-05-02 11:14] DCurrent commented on #137
Done! Thanks for the heads up.

[2019-05-02 11:14] #137 closed

[2019-05-02 11:23] DCurrent commented on #138
Could you double check the build? I don't compile on Linux, but I do know the only changes made in 4d471b7 were the addition of two constants, and nothing else. It's all but impossible for that to have any affect on compiling. Stranger things have happened, but it would greatly help to know for certain. Thanks!

I'll also tag @Plombo as he will likely have greater insight on Linux issues than me.

[2019-05-02 11:30] DCurrent commented on #138
TBH, I really don't care about Clang. You're kind of off the reservation there. We'll still try and help though.

First thing, could you double check the build? I don't compile on Linux, but I do know the only changes made in 4d471b7 were the addition of two constants, and nothing else. It's all but impossible for that to have any affect on compiling. It's more likely due to compounded changes fro

[2019-05-02 11:49] jbeich commented on #138
See 66657298's [build log](https://github.com/DCurrent/openbor/files/3137852/openbor-6989.log) after reverting 4d471b75707d.

[2019-05-02 18:28] Plombo commented on #138
Those errors are something really specific to aarch64. I won't be able to reproduce since I don't have an aarch64 build environment, but the one idea I have is maybe it doesn't like how the extern declarations in that commit are declared as "extern int*" but the actual definitions are of type "e_animations*". @jbeich, can you try changing the "extern int *" declarations made in that commit to "ext

[2019-05-02 19:22] jbeich commented on #138
Where?
https://github.com/DCurrent/openbor/blob/02375fbcd9c3848045dd7d11819542e83ae46cb1/engine/openbor.c#L443
https://github.com/DCurrent/openbor/blob/02375fbcd9c3848045dd7d11819542e83ae46cb1/engine/openbor.c#L453

Doesn't help. I've tried both: changing only declaration and changing declaration and definition.

[2019-05-02 20:36] #138 closed

[2019-05-02 20:46] DCurrent commented on #138
Well I was sure wrong about adding constants not breaking anything. My bad. Thanks for the fix gents.

[2019-05-04 10:08] haxpor opened #141 "Unable to load file '......gif' for this particular gif image"
Please complete the following template to help us investigate your issue. Developer time is very limited - incomplete issue reports may be ignored and deleted.

**Note:** Legacy builds are not supported. Any fixes will be applied to the latest engine builds.

## Description
Based on OpenBOR e0e7b56e5d6947138a6577c55614607382e0fc16 , I tried to use this [gif](https://internal.abzi.co/openbor/Zombie

[2019-05-04 11:49] DCurrent commented on #141
This is not an OpenBOR bug. The log from Imageshack might look OK, but there is something seriously wrong with your image. I downloaded the file, and noticed that both of my image editors (Photoshop and GIMP) read it as an RGB color - by definition that is not a .gif and will never load in OpenBOR.

I gave the image a color table, re-saved, and it loaded without any problems.
![Zombie01Walk001-3](

[2019-05-04 11:49] #141 closed

[2019-05-04 11:53] haxpor commented on #141
That's weird. After testing more, I found out that very likely due to setting of `palette` because each frames of animation I used has different colormap, the less of the frames don't base off on a single same colormap. Might be possible that a certain frame tries to reach to out of bound or some sort of colormap (I just guess).

After I set to `palette none` it works fine, but I've read discussio

[2019-05-04 13:17] dbaldan commented on #141
Don't use palette none for characters, it's a terrible idea and waste of resources

[2019-05-04 15:05] haxpor commented on #141
@dbaldan thank for reminding. I've read that somewhere in the chronocrash forum too. For my case, I have assets which aren't designed to be limited by color palette from start, and each frame in a single animation can have variation of number of colors used. It seems to be tricky for me to stick to set `palette` option although I'd love to. I'm still exploring...

[2019-05-04 16:41] msmalik681 commented on #141
Something like this should be explored on the forum and should be confirmed as a bug before it reaches here.  That is my personal opinion.

[2019-05-04 17:51] haxpor commented on #141
@msmalik681 ok, I kindly noted that; it's fine if community encourages to use forum first. I'll keep that in mind.

FYI: I found the problem, and it's actually a fault on my side. I created an automated tool to rearrange the position of color in colormap to be the first position in order to satisfy OpenBOR engine; can use in batch process. For some reason, as DC pointed out, colormap is not set. T

[2019-05-11 10:28] msmalik681 commented on #69
I can confirm @Wiimpathy your updates have fixed any controller issues could you please add your wii updates to the master build.

Also I noticed you made changes so we can use DevkitPPC r29+ I heard there are issues with later builds if everything is working is it worth updating ?

[2019-05-11 10:28] #69 closed

[2019-05-11 10:32] msmalik681 commented on #76
@SieKensou I have tested and I can see what you mean when you increase BMG volume from the menu there is a noticeable difference but with SFX it is a very small increase.  This is something I would have to ask @Plombo to look into I am not very good with audio coding.

[2019-05-11 14:14] Wiimpathy commented on #69
Since R28, Wii-U pro controller are supported natively, no need of libwupc. Not sure it's better, I never tested...
R30+ have a newer gcc. It seems performance aren't as good as gcc 6. Never done real benchmark though.
One thing is sure, the dol files are bigger with recent libs : less Ram!
Changelogs:
http://nintendo-ds.dcemu.co.uk/devkitppc-r28-and-libogc-v1-8-15-released-wii-u-development-11583

[2019-05-11 14:29] msmalik681 commented on #69
@Wiimpathy thanks I will add the update crediting you in the commit.

Less ram is a definite no so we will stick to the current DevkitPPC.

[2019-06-08 10:16] nsw27 opened #155 "png issue"
I had someone compile current PC version of engine for me and tried multiple branch versions yet they all have seem crash and error when using png images

It was mentioned on a issue or somewhere before that png files or how they were read were getting tweaked and I asked if it would affect existing method of using png and was told it wouldn't....

********** An Error Occurred **********
*

[2019-06-08 10:19] nsw27 commented on #70
can someone please send me a working openbor build to test this has been addressed before closed ? (a version of engine without png error crash?) I would love to have this controller issue resolved asap for my games if it has been addressed. Thank you

[2019-06-08 10:50] haxpor opened #156 "64-bit compatible executable build for Windows"
**Is your feature request related to a problem? Please describe.**
It seems the current build system will generate 32-bit version Windows build only, not 64-bit on system that has it. It's not a problem per se, but it'd be great to see OpenBOR would be able to generate optimized binary for system that has such support.

I didn't know whether there's a problem about generating 64-bit or not, thus t

[2019-06-08 10:57] haxpor commented on #155
I did some quick research for you. That part of code handle about filtering of png image.
Could you try to check whether you apply any filter, or process anything on your png image? Likely that the engine doesn't know that type of filter, thus shout out like that in the log.

You can try to post your image here, so I can try to check which filter method it is.

[2019-06-08 11:39] DCurrent commented on #155
There is absolutely something wrong with your images. I test exclusively with .png and the latest source with no issues at all. Since you mentioned using Paint, the most likely culprit is interlace.

[2019-06-08 12:15] nsw27 commented on #155
![altidle1](https://user-images.githubusercontent.com/45753033/59147092-a572a100-8a3a-11e9-86b1-cf3fe229939a.png)
![r24](https://user-images.githubusercontent.com/45753033/59147099-b91e0780-8a3a-11e9-99de-78f3401d4af2.png)

here are two different sprites. I use photoshop and MS Paint but then always go back to photoshop to reapply the palette settings (as MS Paint removes it when editing on my cur

[2019-06-08 13:03] DCurrent commented on #155
I just tested again.

1. Just to make sure I had the latest source, I pulled the latest main branch from github compiled.
2. Ran three different modules. One is a mix of .png and .gif, the other two are .png only. No issues.
3. Inserted one of your images as a select portrait. No issues, aside from the obvious palette mismatch.
4. Tested again, this time using your image as a palette base. Again,

[2019-06-08 13:13] haxpor commented on #155
@nsw27 When since the last time you work with png image without crash?

I can do reasonable **guess** here. If you said, you recently compile from source, then this might be related as [this change](https://github.com/DCurrent/openbor/commit/040f982a939eb0fc8bc2e2f6a850bc73532ace6c) applied into the source as of March 22. It will crash if detect malformed data in png at certain height of image.

Y

[2019-06-08 13:19] DCurrent commented on #155
@haxpor, my test above is with latest master branch source. It includes @Plombo's change.

[2019-06-08 13:20] msmalik681 commented on #155
"I had someone compile current PC version of engine for me"

Try to compile the build yourself nothing but windows in needed just download extract then run engine/build.bat

[2019-06-08 13:44] haxpor commented on #155
@DCurrent Ok DC.

Then problem is about image itself as DC said.

[2019-06-08 13:51] DCurrent commented on #155
@haxpor maybe, but I'm not 100% sure. I was able to use @nsw27's example images without a problem. All I know is the latest master works as intended for correctly rendered .png files - and even has some tolerance for mistakes (see above about the the examples images having transparent color in them). I'm starting to think the real problem is _"I had someone compile current PC version of engine for

[2019-06-08 14:18] haxpor commented on #155
Ohh, what @msmalik681 and @DCurrent said make sense. I totally didn't pay attention much to that part. Alright~

[2019-06-08 15:09] Plombo commented on #156
We already support 64-bit builds for Linux, so 64-bit Windows builds wouldn't be hard to do. The only reason we've never had them is that there's just not much point to distributing two Windows binaries when our existing one runs without performance issues on both 32-bit and 64-bit systems.

[2019-06-08 15:58] DCurrent commented on #156
Yeah sorry @haxpor, the numbers just don't support adding that extra complexity.

You could force load every single sprite from Street Fighter III into OpenBOR and you're still nowhere near one GB, never mind four.

[2019-06-08 15:58] #156 closed

[2019-06-08 16:34] dbaldan commented on #155
@nsw27 Can I give you an advice? You are making your life harder than it should be by using two different programs to handle the images.

Photoshop can do about 99% of the things Paint can - with the exception of non-antialiasing drawing shapes. I strongly suggest that you use Photoshop for that, it will give you tons of tools that are presented in Paint, like layers.

If PS is too heavy to be run

[2019-06-08 19:39] nsw27 commented on #155
this was one I was sent from input rework branch (as my goal is to see if all controller issues have been fixed)

https://www.mediafire.com/file/uaw4ihagtgmayno/OpenBOR%283%29.exe

here is error log, as soon as I attempt to enter a level it crashes.

[OpenBorLog.txt](https://github.com/DCurrent/openbor/files/3268862/OpenBorLog.txt)

and I have tried to compile engine myself

clicked green button t

[2019-06-08 19:53] nsw27 commented on #155
and here is the working build of openbor that I use

http://www.mediafire.com/file/n5fsbh5g85s779o/OpenBOR.zip/file

[2019-06-08 20:21] msmalik681 commented on #155
The openbor.res file should have been made within the compile process was there any previous errors ?

[2019-06-08 21:59] msmalik681 commented on #155
thanks @nsw27 this was a issue with compiling when not downloaded though GitHub I have amended the source code and you should be able to compile after I commit a update. please note the build and hash will show as all zeros unless manually updated in the version.sh
![buildfix](https://user-images.githubusercontent.com/31506138/59152678-f9808400-8a40-11e9-9197-d5cb5002cc05.gif)

[2019-06-09 10:03] msmalik681 commented on #155
Both images work fine in animation frames or by using loadsprite/drawsprite but I have recreated this bug by setting the images as "titleb.png" I get the exact same error.  I believe this is a issue with loadscreen32 function maybe the sprite are not matching the video mode or something.

@nsw27 how or where are you using these sprites ?

[2019-06-09 12:10] nsw27 commented on #155
tested your build msmalik

FYI I got this virus alert when building, I pressed allow

![trojan](https://user-images.githubusercontent.com/45753033/59158792-3f058580-8b03-11e9-856c-af028e818d68.PNG)

I then tested the build but get a error

********** An Error Occurred **********
*            Shutting Down            *

Assertion `!"invalid PNG filter"' failed in function 'png_decode_regular' at so

[2019-06-10 07:18] msmalik681 commented on #155
@nsw27
I only fixed the issue with you being able to compile the source code without GitHub and there should not be anything wrong with 7-zip as I downloaded it directly from the homepage.

[2019-06-13 21:18] #155 closed

[2019-06-14 05:18] nsw27 commented on #155
ok so I compiled and tested the engine.

images now load and can play game which is great.... there was a issue I saw with aligning of panels

![empty - 0001](https://user-images.githubusercontent.com/45753033/59485045-9024c900-8eb7-11e9-888b-f8635cb4eecb.png)

normally the black bar fills screen properly. here is the code

`name	filter

type	panel
speed 10
noquake 1 1
facing 1
setlayer 999
subjec

[2019-06-14 13:09] dbaldan commented on #155
@nsw27 we need to split the issues here, or it gets confusing for the devs to take care.

About the png:
- please, check the information. Your image is **indeed** interlaced
![Image of Yaktocat](https://i.imgur.com/ExABboC.png)
https://i.imgur.com/ExABboC.png

- Also, your image has a wrong palette - there are two spots with almost the same color (255 255 255 vs 254 254 254) and this can lead you

[2019-06-14 19:57] Plombo commented on #155
@nsw27 I fixed the interlaced decoding error and merged it to master. You'll need to file a new bug for the panel alignment thing, though.

[2019-06-14 21:07] nsw27 commented on #155
I didn't mean to use interlaced and unsure how I did set it to interlaced in photoshop. is there a way to remove interlacing ?

BTW the png crash seems to be fixed now.

I needed to gamble with the latest engine as ive had people reporting controller issues for years now.... I wanted to test the controller fixes to engine because if we don't test things then when they are eventually released they

[2019-06-14 21:10] nsw27 opened #161 "panel alignment"
there was a issue I saw with latest engine build for PC regarding aligning of panels

![empty - 0001](https://user-images.githubusercontent.com/45753033/59485045-9024c900-8eb7-11e9-888b-f8635cb4eecb.png)

normally the black bar fills screen properly. here is the code

`name	filter

type	panel
speed 10
noquake 1 1
facing 1
setlayer 999
subject_to_screen 1

offscreenkill 9999

palette none

anim	idl

[2019-06-14 21:21] DCurrent commented on #161
Please attach the panel sprites, that will help with reproduction and diagnosis.

[2019-06-14 21:27] nsw27 commented on #161
have updated first post

[2019-06-17 22:45] nsw27 commented on #130
update: this still occurs when I compile latest build.

[2019-06-18 22:54] nsw27 opened #163 "unblockable attacks can now be blocked"
just compiled PC build again this morning and saw a new bug.

ALL unblockable attacks can now be blocked.... by either enemies or players wether directly linked to a player or an enemy or a projectile.

so for example I have various bullets etc that are now blockable despite their settings

`name		gshotE
type		none
nolife		1
#candamage	player npc obstacle
offscreenkill	20
palette		none
onspawnscri

[2019-06-18 23:12] dbaldan commented on #163
@nsw27 it's better to use the bug report template when reporting it

[2019-06-21 18:25] Computerlabrat opened #165 "More than 18 paks causes crashing"
If you have more than 18 paks in the paks folder, OpenBOR will crash as you scroll down past the last one in the window on the left. Having 21 paks, which goes down past the bottom of the window, in that folder will automatically crash it. Could you please look into a work around like either having a scroll bar or having the ability have paks split up in a pages system? Thanks.

[2019-06-21 19:13] haxpor commented on #165
Please identify which build is this? Anything in log file you can share?

I tested this with more than 21 paks and it runs fine without crash on recent build.

By the way, next time please use the issue template as it contains kind of questions to acquire information to narrow down further the problem. Thanks.

[2019-06-22 05:55] Computerlabrat commented on #165
It's v3 build 6510 for Windows, I believe. Also, sorry about that. Anyway, what I've noticed is scrolling past the box on the left side when picking a pak causes it crash before it can launch. I estimate that to be about 19 games.
For over 18 paks, the log file says:
Total Ram: 34321707008 Bytes
 Free Ram: 21182226432 Bytes
 Used Ram: 6000640 Bytes

debug:nativeWidth, nativeHeight, bpp, Hz  1920,

[2019-06-22 06:00] Computerlabrat commented on #165
I probably should have included this earlier. Maybe it could provide some more info.

[DxDiag.txt](https://github.com/DCurrent/openbor/files/3316549/DxDiag.txt)

[2019-06-22 07:25] haxpor commented on #165
Hey @Computerlabrat , thanks for additional infothe fix about crashing in menu when you have several of pak files has been fixed since build 6649. I checked on chronocrash forum, and there's no recent build available yet that would satisfy your need.

In the meantime, you can try latest build (Build 7061, commit hash db5f083) I built for you while waiting from official build: [OpenBOR.zip](https:/

[2019-06-22 10:15] msmalik681 commented on #165
The thing is releases are on hold until @DCurrent has finished his big updates and moved us to version 4.0 it is really taking a long time now as a lot of bug fixes are caught up in the newer builds.  If it is ok with DC maybe we can make a beta release for now.

[2019-06-22 15:55] DCurrent commented on #165
Sorry @msmalik681, but it is not OK. You can make dev builds and such to try bug fixes, but I don't want an official release of any kind, beta or otherwise until I can at least get the model properties done.

[2019-06-22 17:30] Computerlabrat commented on #165
Thanks. That seems to have fixed.

[2019-06-22 17:30] #165 closed

[2019-06-22 18:02] msmalik681 commented on #165
Sure DC no problem.

[2019-06-25 13:00] msmalik681 opened #166 "Bindentity Bug"
Description:
Bindentity will sometimes not show or maybe kill off spawned entity.

Reproduce:
load a mod with bindentity being used keep reloading the engine until the binded entity is not showing.  Now once the bug is present even if you end the stage and start it again the entity will never re appear until you fully shutdown and start the engine again.

Expected behavior:
binded entity should al

[2019-06-25 14:33] dbaldan commented on #166
I can confirm this issue.
I use a dev build which @msmalik681 posted some time ago and I have the same issue, but only with one specific case - all the others works fine.

This is the code I use, which was changed by White Dragon back on that day:

[code]
This was working fine until I started to use that build.
If anyone has my Avengers game, pick Hawkeye (or Spider Woman on black costume), change

[2019-06-25 15:34] DCurrent commented on #166
I was able to reproduce the bug in provided devbuild (thanks btw, that was really helpful) - it appears in ~1 out of 5 startups. However, that build was created in the midst of updating bind entity and is upstream from numerous entity changes.

I tested over thirty times with a build from current code base to confirm and the bug does not appear. Closing.

[2019-06-25 15:34] #166 closed

[2019-06-29 22:19] nsw27 commented on #163
has anyone investigated ? this affects all games not just mine so im surprised this wasn't picked up...

[2019-06-29 22:20] nsw27 commented on #161
has anyone investigated ? is there any further information i can provide ?

[2019-07-22 11:02] zanzabarjones opened #169 "2 player doesn't work on Nvidia shield (the dpad and buttons have the same mappings for both players)"
I'm using 2 xinput controllers on the nvidia shield,but they're being read as the same controler...so either player controls both characters making 2 player games unplayable...could you assign different keyboard inputs to the buttons and joysticks of all controllers so there would be no overlap...I've tried every build of openbor... https://developer.android.com/training/game-controllers/multiple-

[2019-07-22 11:10] zanzabarjones opened #170 "Could you make openbor more compatible with Android tvs?"
openbor doesn't show up on the main menu of the Nvidia shield tv etc,you have to use sideload launcher or load it from the android apps manager...if possible could you make openbor an android tv channel ,so the app and games would show up https://developer.android.com/training/tv/start ...and could you make it easier to upgrade,like the way dolphin and other emulators upgrade easily without the us

[2019-07-22 22:21] nsw27 commented on #169
this is same issue that the pc version has had in the past. It was fixed as far I could see if you compile latest build of engine (though there are other new bugs and issues which I have reported)

[2019-07-22 23:26] haxpor commented on #170
I heard you. I'll see what I can do. Seems to be trivial task to make it show up apart from UI stuff which might need more elaborated effort. At least, we can try make it show up without sideloading first.

Could you elaborate more what's happening when upgrade the app? It should normally be upgraded with new one without deletion as per my knowledge. Any error text, dialog, or anything would be gr

[2019-07-22 23:34] dbaldan commented on #170
@haxpor as far as I know, this was always that way - I never were able to update de OpenBOR app on Android. I always needed to delete the old app first and then install the new one.

[2019-07-23 00:07] haxpor commented on #170
Ok, I think I got you.

I believe it's down to the technical stuff when official releases .apk. I highly guess it doesn't have an incremented version number from the previous; configured before release, thus Android device sees two versions as the same (as that's only information it can make use of) then refuse to do installation unless user deletes the old first.

To solve this, for official rele

[2019-08-03 22:06] nsw27 commented on #163
any updates ?... no one has looked into yet ?

[2019-08-03 22:06] nsw27 commented on #161
any updates on this matter ?

[2019-08-03 22:09] dbaldan commented on #163
@nsw27 people are busy. Once someone take a look ai this, the will reply

[2019-08-03 22:22] msmalik681 commented on #170
@haxpor we could match the android version code to the openbor build number.

[2019-08-06 13:39] 2blackbar opened #172 "Basemap (slope) makes picking up weapons difficult in some situations"
When i use 500 pixels long slope from height 0 pixels to 90 pixels then i have big trouble to pickup weapon , its not impossible but i have to pinpoint location exactly pressing attack for 50 times or more to pickup weapon, if i use the same slope of 500 pixels and height 90 to 90 then i can pickup weapon immediately on first try. Its like if bbox of weapon item shrinked to one pixel when its on b

[2019-08-16 13:15] filevans opened #173 "240p / double strike video mode"
Hello does the Wii version have 240p (double strike) video mode? As I can't find any settings for it. If not could it be added please? As it looks absolutely awful and blurred (on a CRT anyway) and retroArch, snes 9x gx and most emulators have 240p and it is just needed for openBOR

[2019-08-20 02:15] DCurrent commented on #173
Sorry friend, I don't see this ever happening. Although OpenBOR allows custom screen resolution, this is the author's fiat. To date the lowest res modules (including the first Beats of Rage) run at 320*240. Most are at least 480*272 widescreen and many are HD. There just isn't enough justification to support that kind of down-sampling.

[2019-08-20 02:15] #173 closed

[2019-08-20 02:19] DCurrent commented on #163
I finally got a chance to dig in, and I can confirm the issue. I've recent done a lot of work on the blocking code, so this is obviously on me. Just need to find where I slipped up.

[2019-08-20 18:48] filevans commented on #173
Yes so 320x240 is 240p and 480x272 is 272p so there is no downsampling. 640x480 looks absolutely AWFUL on BOR on the Wii. 240p looks absolutely GREAT on Dreamcast / PC on CRT. it is not being downsampled in anyway. It looks like arcade game resolutions on CRT

[2019-08-20 19:29] DCurrent commented on #173
Sorry about that - you're probably right there's no need to down-sample. But that said, 240p is not 320x240. It is standard TV definition (352x240). There isn't a single OpenBOR module in 240p, and I can promise you no one is about to make one. So one way or another you're black boxing or re-sampling in some way. @Plombo is the Wii guy, and that port is his baby. He might be interested in your req

[2019-08-20 22:12] filevans commented on #173
You can easily implement 320x240 60hz and xxx x272 50hz. So the emulator would actually be worth using. As as it stands blurred and horrid at 640x480 I for certain will never use it like that. It's better to use the ps2, PC or dreamcast versions

[2019-08-20 22:17] filevans commented on #173
240p is any resolution with a height of 240. 320x240, 256x240, (double dragon arcade resolution) 352x240 etc etc. All of these are 240p. 240p just expresses the heights. Width is irrelevant as it can be double, triple or quadruple horizontally, it's the height that matters in this case. 240p looks absolutely superb on a CRT and that is what BOR was meant to run in, and look like 16bit / arcade gam

[2019-09-19 16:09] #163 closed

[2019-10-14 08:44] msmalik681 opened #180 "64-bit support"
I would like to support x64 architecture on the android port I thought the source code was x64 compatible but when I used some suggested compiler flags it caught errors.  I have tried to read up about correcting code for x64 compatibility but most of it went right over my head. Can anyone support with this ?

Here is a post by google with more information: https://developer.android.com/distribute/

[2019-10-16 12:59] DCurrent opened #181 "Binding vs Grabback"
## Description
Binding layer control does not work with native grab system.

## Debugging

### Reproduce
1. Set up any scripted binding, either to control a grappled entity, control a particle effect, etc.
2. Grab another entity normally, and attempt to apply a scripted bind.
3. While the native grappling is in use, the grappling entity's _grabback_ setting takes precedence over scripted bind's la

[2019-10-16 13:03] #181 closed

[2019-10-25 01:20] nsw27 opened #183 "mirror effect does not work immediatly at start of level"
http://www.chronocrash.com/forum/index.php?topic=4587.0

Have reported on Chronocrash already. seems to be a known issue.

affects all versions of Openbor. desired outcome is mirror effect should work from start of a level and not glitch

video example

www.youtube.com/watch?v=uYwJHCZ3SGc&feature=youtu.be

[2019-10-26 11:30] msmalik681 commented on #180
@haxpor @DCurrent @Plombo

Hi guys I could really use some help with this.  It seems on x64 openbor is closing down with localvars and openborconstants returning a null value.  I have noticed with the entity proprties they are cast to a "void *" on a 32bit platform it would be 4 bytes but on a 64bit platform it will be 8 bytes.  Could this be the reason we are getting null values ?

[2019-11-07 14:03] msmalik681 commented on #180
So I have narrowed down a shutdown to the collision code.  If you enable debug options and show bboxes this part of the code will cause a shutdown.

openbor.c line:16619.
draw_box_on_entity(entity, **coords->x**, **coords->y**, entity->position.z+1, **coords->width**, **coords->height**, 2, LOCAL_COLOR_BLUE, &drawmethod);

I have tested and the engine can return all the highlighted variables using

[2019-11-13 13:29] nsw27 opened #184 "enemy AI is now affected"
just compiled and tested latest build of PC. I'm unsure if I should report issues or not, there are outstanding issues that haven't been addressed at all (panel, mirror issues etc) and this may seem like simply more work being piled up...

enemy AI has been affected. they now instantly walk away from a player as soon as there is no bbox in a frame of animation and also generally during gameplay wa

[2019-11-13 13:42] dbaldan commented on #184
@nsw27 Yes, bug reports should be done.

But avoid comments like "I'm unsure if I should report issues or not, there are outstanding issues that haven't been addressed at all (panel issue in particular)". **This doesn't help AT ALL** - on the contrary.

Please stay technical when reporting bugs.
Thanks.

[2019-11-13 23:01] nsw27 commented on #184
sorry but I stand by that comment... and here's why

There are multiple studies that show people are more inclined to report feedback and issues if they know there will be a response.

My suggestions are:

- Establish an overall strategy on how to respond to issues/bugs being reported.
- Create helpful, pre-written responses for general inquiries.
- If a problem will require additional time and su

[2019-11-24 22:27] DCurrent commented on #184
Can't reproduce this issue. I test extensively with my own module and more importantly, with the basic template module with every single time I update. After this report I tried removing bboxes and spreading obstacles all over - no difference. It's true the AI isn't particularly good at maneuvering itself around objects, but it never has been, and isn't designed to be by default because sophistica

[2019-11-24 22:27] #184 closed

[2019-12-09 16:04] DCurrent commented on #183
Reproduced and confirmed.

[2019-12-09 16:47] DCurrent commented on #161
Just put this one through the test gauntlet. Could not reproduce any alignment issue at all. See screenshot with black box example sprite. Furthermore, the already existing background is also comprised of animated panels - 8 layers of them to be exact: Four layers of water, palm leaves in foreground (obscured by the black box), docks with lighting, and two layers of boats. This stage has existed w

[2019-12-09 16:47] #161 closed

[2019-12-20 20:29] DCurrent opened #185 "Inconsistent Bomb Behavior"
## Description
During a pre-test before refactoring the bomb_spawn() function, I noticed native bomb behavior is nothing at all like the manual states.

## Debugging

### Reproduce
Tested with PC and enemy Ryu. Each applied identical custbomb and tossframe settings for throwing a "Hadouken" projectile modified to use bomb logic. Noted following behaviors:

**PC:**
- Respects model speed in bomb mo

[2019-12-20 20:38] DCurrent commented on #185
Found a flaw in my testing - see strike-through edits in report. Bombs should still stop falling on hit, working to resolve.

[2020-01-29 21:34] mnx-xx opened #186 "Wii 240p output"
OpenBOR for WII natively runs in 480i mode, can be changed to 240p? Or can be implement any kind of video mode changer? Playing 480i arcade games on WII with CRT monitor is not really what arcade games was for..

[2020-01-29 23:10] DCurrent commented on #186
Unless the Wii version does something really wacky I don't know about (@Plombo please clarify here), OpenBOR video output is controlled by the game module, not the engine. Some authors will make their modules with the Wii in mind, some don't care about the Wii at all. It's up to them, not us.

[2020-01-31 08:59] shantigilbert opened #187 "Screen rotation for Odroid Go Advance"
**Is your feature request related to a problem? Please describe.**
Compiled a SDL version for the Odroid Go Advance, but the screen needs to be rotated

**Describe the solution you'd like**
Rotate the screen by -90

**Describe alternatives you've considered**
I tried using this "patch" with limited success
On line 208 of sdl/video.c
[code]
The screen does rotate, but the image is cut off, I think

[2020-02-01 00:29] shantigilbert commented on #187
I am getting closer, I modified engine/sdl/video.c and I can now get the loading screen and in game perfectly, but the menu is still a bit cutoff, not sure why, any ideas?

I am also using data/video.txt to choose video option 1

I know this is far from ideal, but it (kinda) works for what I need, maybe someone could clean this up a bit and make it work better?

[code]

[2020-02-01 01:28] DCurrent commented on #187
Not sure friend. I focus solely on the core engine. The guys who did ports are currently MIA.

[2020-02-01 05:51] shantigilbert commented on #187
Thanks anyways, for now this works, the menu is just an annoyance but not game breaking.  Thanks for all of your work

[2020-02-01 15:19] Darknior commented on #187
Relly interesting, tanks, i think we will use it too on Odroid Go Advance ;)

[2020-02-01 17:06] shantigilbert commented on #187
@Darknior great! Maybe we can find a better solution that also works for the menu. I know the Batocera guys are much more capable than me! :)

[2020-02-01 17:49] Darknior commented on #187
Yes for sure, @susan34 or @AiRhEaD L2G are great developpers.
They plan to add it to Batocera ... maybe you can come with us to speak about it on Discord ;)
https://discord.gg/xuuMpCy

[2020-02-01 17:52] shantigilbert commented on #187
Thanks, I've been there for a few weeks, same username :)

[2020-02-02 00:15] shantigilbert commented on #187
I updated the patch with the one that works with the menu as well, will close this issue now.

Thanks

[2020-02-02 00:15] #187 closed

[2020-02-02 09:28] Darknior commented on #187
@DCurrent will some feature like this one can become official in OB source code or not ?
Because it can help for all the portable and phone ports...
Thanks

[2020-02-02 11:17] msmalik681 commented on #187
OpenBOR for android auto rotates based how you hold the phone but I guess a option can be added to force roatation on devices that do not have motion sensors.  This is something I will look at in the future.

[2020-02-06 18:33] Plombo commented on #186
On the Wii, the output to the TV is 480i regardless of the game's source resolution. @mnx-xx here is asking for support for 240p, which the Wii apparently supports if it's connected to the right TV with component cables. It seems like a reasonable feature request to me.

Though I don't think I could implement or test it myself, since I don't have a Wii component cable, and my TV probably doesn't s

[2020-02-06 19:02] DCurrent commented on #186
@Plombo ahh, gotcha. It's not something I can do at all. I don't have a Wii and am up to my armpits in engine logic again, but I'm not going to be a wet blanket if someone wants to step in and try.

[2020-02-16 18:49] Toranks opened #189 "Two known crashes from old to new versions and how to solve them"
Adapting a game to a more current version of Openbor I have found two errors that cause crashes without log on new versions (6XXX or 4.0a), but NOT on old ones(4XXX), so it is impossible to find out the origin if you do not know where to look:

- 'atchain 0 0...' causes crashes when pressing the attack button. It is solved by deleting it, as it is unnecessary

- If a "followx" animation calls itse

[2020-02-29 12:42] nsw27 commented on #184
I would like this topic to be reopened. I may be debugging the issue wrong but it is an issue. I can try my best to identify it but its easier to just try and explain what happens and better yet show you all.

here is an example video of the new engine in action. (I compiled this morning so has all the latest updates etc and these videos were taken today right after each other)

This is my version

[2020-03-06 14:47] bumpouz opened #190 "Inputs broken on Switch version"
## Description
Controller inputs are broken since CFW 9.0+ on Switch version. Not sure if this is even being supported at all. Cpasjuste gave us a great working version but I can find a way to message them to see if they could recompile it for the newer CFWs.

[2020-03-06 14:53] msmalik681 commented on #190
We do not offically support the switch sorry.

[2020-03-06 14:53] #190 closed

[2020-03-06 15:00] dbaldan commented on #190
@bumpouz I answered the same question today by private message (was it you?).

Nintendo Switch version of OpenBOR is not an official port neither made by us, so we can't offer any support for it, sorry.
It would be better to ask directly to who had made that port.

[2020-03-06 15:09] bumpouz commented on #190
It probably was me. I had just posted on the website as well. I'm trying to find a way to message Cpasjuste, but I can't find any message info for them on github. Thank you for replying to my message. Keep up the good work and thanks again.

[2020-03-10 12:58] Adnan1091 opened #192 "Failing to build for android"
Helllo i am using windows 7 OS. I am trying to build openbor for my android  but whenever i try to build it.It fails.For example,when i double click build,it just instantly closes.Double-clicking gradew gets stucks at CONFIGURING%50 then it gives build fail and it closes itself.Am i doing something wrong?I added both ndk and sdk paths.https://developer.android.com/ndk/downloads and android studio.

[2020-03-10 13:14] msmalik681 commented on #192
Here is a tutorial on how to setup your environment for the android build.

http://www.chronocrash.com/forum/index.php?topic=3801.msg52283#msg52283

This is not really a engine issue stuff like this belongs in the forums so I am closing this.  Please post on the forums if your having trouble setting up the correct environment I will be happy to support.

[2020-03-10 13:14] #192 closed

[2020-03-17 19:23] msmalik681 opened #193 "Landframe bug"
There is a bug when using landframe in a animation after the character has landed any scripts run after the landframe do not work or miss behave.

in my mod I use landframe for a dive kick animation after the character lands I want to use the dasher script to slide them for a bit before they stop and getup the animation runs but they do not slide at all I tried multiple dasher scripts (now he shou

[2020-03-20 13:27] nsw27 opened #194 "lifescore issue"
# Description
Lifescore does not work. you will not recieve an extra life as soon as you reach the required score

## Debugging

### Reproduce
very easy to reproduce, just set lifescore and see how it does not work

### Expected behavior
once score is reached the life should be given

### Screenshots
NA

### Version
I am using PC builds, I have compiled latest GitHub version, but also use an older

[2020-03-20 13:29] nsw27 opened #195 "screenshot button doesnt work"
## Description
screenshot button does not work everytime you press it

## Debugging

### Reproduce
define a screenshot key and then press the button.

### Expected behavior
A screenshot should be taken once button is pressed

### Screenshots
...

### Version
this is on compiled version of latest GitHub PC version
## Additional context
works with older, stable version so must be a recent quirk

[2020-03-20 13:46] msmalik681 commented on #195
Please stick to stable releases for now.  When DC publishes the next stable release test this again if its fixed close this issue down or report back.

[2020-03-22 14:14] Wesleyjor6 opened #196 "Updates"
When will a new Android version arrive?

[2020-03-22 14:15] Wesleyjor6 commented on #196
Could you also add an option to map external control?

[2020-03-22 14:28] msmalik681 commented on #196
You have logged a issue with no real issue.  Questions like this should be directed on the forums at www.chronocrash.com

[2020-03-24 23:57] #196 closed

[2020-03-24 23:59] DCurrent commented on #194
Confirmed. Probably a simple fix. I'll try to get it done along with other upcoming updates.

[2020-04-06 08:25] Cissoubaka commented on #180
@msmalik681 did you manage to compil a 64 version? I'm interested, but got some errors during compilation (under Archlinux)

[2020-04-06 08:31] nsw27 opened #197 "itembox is not compatible with weapon item"
I have raised this on forum

http://www.chronocrash.com/forum/index.php?topic=4819.msg66675;topicseen#msg66675

I have a touch item which has ninja stars, player is able to shoot 10... but when ammo is depleted I can hear he picks up the item again and can still shoot stars... but now it is endless and no ammo counter (shouldn't be able to do this.) if he is hit again whilst in this state he rever

[2020-04-07 11:52] msmalik681 commented on #180
@Cissoubaka yes but this kind of question is for the forums www.chronocrash.com

[2020-04-08 11:44] Cissoubaka commented on #180
What are the change to make it possible to compile ?

[2020-04-08 13:01] DCurrent commented on #180
@Cissoubaka as @msmalik681 the github issue reports are not for questions and requests. Please take those to the forum as he asked. Closing ticket.

[2020-04-08 13:01] #180 closed

[2020-04-08 17:20] msmalik681 commented on #180
@DCurrent Cissoubaka was spamming this issue but it was a legitimate issue started by me.  Lets just leave it closed hopefully your collision rework will fix the issue I raised here.

[2020-04-29 17:22] vanfanel opened #198 "Optimizations for small ARM systems"
Hi there,

I have just built OpenBOR on GNU/Linux for the first time, and it looks great with the PAKs I have tried so far!
But for it is fairly slow with games like He-Man.
Thing is, these hi-res games could have 2x filters removed, and only leave the SDL2 bilinear filtering that costs ZERO CPU and avoids shimmering.
However, I can not find an option in those games so far to NOT do any scaling in

[2020-04-29 17:48] vanfanel opened #199 "Building on non-x86 systems"
Hi there,

Its my plan to try OpenBOR on small ARM systems, like the popular Raspberry Pi.
However, it seems impossible to build ATM:

[code]

What SDK does it mean? My system as SDL2 dev headers installed and of course gcc 9.x and all other needed libs.
Does OpenBOR use x86-only code of some kind?

[2020-04-29 17:58] msmalik681 commented on #198
We do not offically support the pi but there is a unofficial port floating around the net.

But just to confirm are you using the linux port on a arm based linux os ?

[2020-04-29 18:07] msmalik681 commented on #199
To compile 32bit use:
./build.sh 4 x86

For 64bit use:
./build.sh 4 amd64

Linux ARM acitecture is not really supported right now.

[2020-04-29 21:38] snyperstyle commented on #170
I cant even get it to load a pack on the new shield tv pro. It just closes out and seems to have no controller support.

[2020-04-30 02:55] msmalik681 commented on #170
@snyperstyle What build are you using ?

[2020-04-30 03:00] snyperstyle commented on #170
Current build directly from github apk version 1.4.4 it says openbor v3.0
build in upper left corner

On Wed, Apr 29, 2020, 10:56 PM Malik <notifications@github.com> wrote:

[2020-04-30 03:06] msmalik681 commented on #170
@snyperstyle I will look into it and see if there is anything I can do.

[2020-04-30 03:07] snyperstyle commented on #170
Thank you so much.

On Wed, Apr 29, 2020, 11:06 PM Malik <notifications@github.com> wrote:

[2020-05-17 03:37] erod20 opened #200 "error compiling on Ubuntu 20.04"
I keep this error when compiling on Ubuntu 20.04

ource/gamelib/packfile.c:322:31: error: ‘%s’ directive writing up to 255 bytes into a region of size between 0 and 511 [-Werror=format-overflow=]
  322 |         sprintf(fullpath, "%s/%s", dir, entry->d_name);
      |                               ^~
In file included from /usr/include/stdio.h:867,
                 from source/gamelib/packfile.c:29:

[2020-05-17 08:22] msmalik681 commented on #200
try "sudo apt-get install libsdl2-dev libsdl2-gfx-dev libpng-dev libvorbis-dev libvpx-dev"

[2020-05-17 13:49] BeWorld2018 opened #201 "SDL_GameControllerRumbe / SDL_JoystickRmuble support"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
Replace or add support  new SDL API : SDL_JoystickRumble

**Describe alternatives you've considered**
In sdl/control.c : (propose idea but not sur if correct, i just make a little test on my machine with Xbox360 controller (joystick and not haptic) )

// port seem wrong in this function

voi

[2020-05-17 13:52] erod20 commented on #200
All the dependencies are installed. It builds fine on 18.04 but not 20.04.

[2020-05-18 23:07] sdsddsd1 commented on #200
This seems like an issue with gcc9. See [here](http://www.chronocrash.com/forum/index.php?topic=4530.0)

[2020-05-28 19:27] blisstik commented on #169
Can someone please compile the latest for Android? Just need the APK. Have got the same issue with Shield seeing the same controller.

[2020-06-02 13:01] inukaze opened #202 "Git Clone 1.4 GB?"
Hi there, i just want to know if you know when you use

[code]

Well i think this is too much size for OpenBor Engine but i found this file :
openbor/.git/objects/pack/pack-3d9aed063631b8bf68a30b642210e567884187fc.pack

![OpenBir_GitClone](https://user-images.githubusercontent.com/1647332/83522259-6ab91280-a4ae-11ea-8ec7-fdac706ae1c8.png)

This file is really need it for compile the engine from so

[2020-06-02 19:39] danielt3 commented on #202
OpenBor has a philosophy of shipping most of the tools needed to build it (at least to build in Windows hosts). This increased the repo a lot but makes it really easy to build when you are done. This is a tradeoff: setting up these tool can be *really* hard (specially in Windows environments) but providing them ready-to-use increases the repo size.

Personally, I'm really happy with the current ch

[2020-06-02 19:54] DCurrent commented on #202
@danielt3 pretty much nailed it. OpenBOR is a Windows first application - everything else is a port. The toochain is huge, but really, REALLY simplifies the compile process. There are no doubt small pieces here and there we don't need, but trying to ferret them all out would take months and cause more problems than it solves.

[2020-06-02 19:54] #202 closed

[2020-06-02 20:25] danielt3 commented on #199
OpenBOR is portable accross several target platforms. This does not mean its build system is ported to all of them. This is a very common mistake: being able to compile source code **for** a particular platform (OS + underlying hardware) does not mean at all that one can compile source code **on** that particular platform.

If you just need to build OpenBOR **for** Rasp you have a moderately easy

[2020-06-03 15:15] danielt3 commented on #200
It builds fine in GCC 8.3.0 (Debian 10). The command line given by @msmalik681 works fine (the wiki needs a small fix since it says to install `libpng12-dev` which is not included in Debian 10). I just built and run with libpng-dev and saw no notable issues.

I will try to install GCC-9 on my box and fix the errors.

[2020-06-03 15:15] danielt3 commented on #200
I didn't try to build the 32bit version, only the 64bit which is the native in my system.

[2020-06-05 13:01] spilinek commented on #200
I was able to workaround this by updating Makefile. Replace **-Werror** with **-Wno-error**

[2020-06-05 13:34] danielt3 commented on #200
That is not the kind of solution I like the most. Someone have enabled -Werror and there is HUGE motivation about this. We might lose our compiler-buddy to help finding bugs we miss. I'd say if it is *really* *really* needed to use GCC9, to accept this as a TEMPORARY solution but I'd STRONGLY recommend to fix these properly and re-enable -Werror.

I didn't had the time to test in my own box here (

[2020-06-05 15:49] spilinek commented on #200
There's 4 warnings:

-------------------------------------------------------
OpenBOR v3.0 Build 7086 (commit hash: 7a45a22) - http://www.ChronoCrash.com

All rights reserved.
See LICENSE and README within OpenBOR root for details.

Copyright (c) 2004 - 2018 OpenBOR Team
-------------------------------------------------------
-------------------------------------------------------
   Linux amd64 SD

[2020-06-05 21:38] danielt3 commented on #200
These are likely easy to fix. They seem to be least. I will take a look.

[2020-06-06 22:54] danielt3 commented on #200
I fixed the build breaks but I can't push a branch with the fix. Could anyone help me?

[2020-06-06 23:32] msmalik681 commented on #200
@danielt3 Sure i will do it tomorrow. Thanks for the support.

[2020-06-07 18:49] msmalik681 commented on #200
@danielt3 sorry but I can not find your branch. what you need to do is make a branch from master apply your fixes then do a pull request to master it will be reviewed if there are no issues DC will add it to master.

[2020-06-07 21:28] danielt3 commented on #200
I already did. I can't push to the repository.

[2020-06-13 21:03] danielt3 commented on #197
Do you mind preparing a small PAK file that reproduces the problem and sending here with instructions? I'll take a look!

[2020-06-13 21:40] danielt3 commented on #184
A (great) suggestion (which I used at my work) is that you make a very small PAK file with your exact setup and provide detailed instructions for people to try to reproduce your bug. I will have a look myself but only if I'm able to reproduce it. Developers are quite often bugged by poor bug reports (this is not the case of this particular bug) and the more information/assets and support you give

[2020-06-13 22:33] danielt3 commented on #200
I'm still getting this error:

[code]

[2020-06-14 07:58] msmalik681 commented on #200
Think @DCurrent needs to give you access.

[2020-06-14 22:11] danielt3 commented on #200
OK. I will keep checking. Thank you.

[2020-06-15 12:52] DCurrent commented on #200
@danielt3 you have access to create branches, but you cannot push directly to master - no one can. You need to create a pull request. Then I will review and assuming there's no issues, approve it.

[2020-06-15 16:57] danielt3 commented on #200
Do you mind checkin again, please. I'm still getting the same error.
[code]

[2020-06-24 02:04] danielt3 commented on #130
I confirmed that in build 7806 this bug does not happen anymore. Please, see attached package with an example and an exe of build 7806.

Even though not all versions log the build number indeed, there is the build date that can be really helpful to track the version.

[Issue_130.zip](https://github.com/DCurrent/openbor/files/4822777/Issue_130.zip)

[2020-06-25 20:16] DCurrent commented on #200
@danielt3 sorry to take so long. I just reviewed again and you should have permission to create branches. have you tried to create and modify a branch directly from Github? That would let me know for sure if it's on my end or yours.

[2020-06-25 21:17] danielt3 commented on #200
Not a problem. Take your time.

I don't think I can create branches directly in Github's Web Interface. Please, see next screenshots. If I can give a tip, likely I can't *push* a branch not create one. Push permissions are handled in a different place in some Git instances.

![image](https://user-images.githubusercontent.com/1739215/85795812-477d2e00-b70f-11ea-94d6-eafffc76c441.png)

![image](http

[2020-06-25 21:23] danielt3 commented on #200
Or the problem can be the fact that I'm using HTTPS (not SSH to push). Some organizations don't allow core developers to use HTTPS, only SSH for pushing and other stuff.

[2020-06-25 21:52] danielt3 commented on #200
Changing the remote to SSH instead of HTTPS didn't work.
[code]

[2020-06-27 20:15] danielt3 commented on #130
@DCurrent, could you please, review and close this issue?

[2020-06-28 07:28] nsw27 commented on #184
can try almost any PAK and you should be able to replicate this, anything with big aspect ratio. I've given video examples and extensive details and if anyone is interested in looking into it they know I can provide multiple games and PAKs as examples to test.

Again.. this should not have been prematurely closed, its only a matter of time before other people come across this issue and then its wa

[2020-06-28 13:53] DCurrent commented on #130
Confirmed with test on original BOR with nosame enabled. Closing ticket.

[2020-06-28 13:53] #130 closed

[2020-06-28 14:02] DCurrent commented on #184
Tested again on original BOR - does not reproduce. This has developed into a procedural opinion thread - that is not what bug reports are for. I will continue to revisit issue as development continues, but thread is locked until further notice.

[2020-06-28 14:09] DCurrent commented on #200
@danielt3 Looking into this again. I'm kind of stumped to be honest, will keep poking around to see what I can figure out.

[2020-07-01 15:18] DCurrent commented on #200
@danielt3 I believe I see the problem. I sent you an invite to collaborate, but you haven't accepted it yet.

![image](https://user-images.githubusercontent.com/5900142/86261335-6c005c80-bb8c-11ea-81ad-24dc4abadd6a.png)

You need to check your email and accept the invitation.

[2020-07-01 17:17] danielt3 commented on #200
OMG. I'm so sorry about this. Well, Github didn't say anything regarding this apart from the e-mail itself (which I found). Well, after making this mistake I can only ask you to kindly resend the invitation (it only lasts for 7 days). I promise I won't miss it again and I'm really really sorry about my mistake. I hope I can make it up with great things for OpenBOR.

[2020-07-01 18:37] DCurrent commented on #200
@danielt3 no problem friend. I'm out on the trail right now. When I get back I'll send you a new one.

[2020-07-02 02:06] DCurrent commented on #200
@danielt3 I sent a new invite. Let me know if it works for you. Also, please sign up at www.chronocrash.com and review the development policies.

[2020-07-02 12:04] danielt3 commented on #200
Now I can push a branch! Thank you so much! Github has done a great job hiding the invitation in some obscure menu.

[2020-07-08 13:53] yaaaaa opened #205 "Add way to edit main menu position offset"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-07-08 22:37] DCurrent commented on #205
Menu offsets have already been discussed in forum. It is not a priority at this time.

[2020-07-08 22:37] #205 closed

[2020-07-09 01:56] danielt3 commented on #200
For now, the only solution to this issue is to install an older GCC version. I think GCC <= 7 is enough.

[2020-08-23 15:04] jbeich opened #206 "Fails to build with GCC 10 / Clang 11 (-fno-common)"
## Description
[GCC 10](https://github.com/gcc-mirror/gcc/commit/6271dd984d7f) and [Clang 11](https://github.com/llvm/llvm-project/commit/0a9fc9233e17) enable `-fno-common` by default.

https://gcc.gnu.org/gcc-10/porting_to.html#common

<details><summary>GCC 10 error</summary>

[code]
</details>

<details><summary>Clang 11 error</summary>

[code]
</details>

### Reproduce
1. Install GCC 10 or Clan

[2020-08-24 05:51] jbeich commented on #206
Looking at build.sh both `darwin` and `android` maybe affected in future:
- macOS: Clang is default since Xcode 4.2, GCC is dropped since Xcode 5.0 (`gcc` is symlink to Clang)
- Android: Clang is default since NDK r13b (October 2016), GCC is dropped since NDK r17c (June 2018)

[2020-09-29 00:35] averagehat opened #207 "Very difficult to find resources"
currently if I go to the main page of the wiki, I navigate to the manual and see a statement from 2017 that the manual is outdated. But it appears to have been updated a number of times since then.

There seem to actually be a lot of resources for working with and learning about openbor. But they are really hard to find. I worry that a lot of folks won't be as persistent as me and will give up on

[2020-09-29 11:45] DCurrent commented on #207
@averagehat, this really isn't an appropriate venue for that kind of discussion. This is for issues specific to engine itself, not using it. Therefore I'm going to close and lock this. You are welcome to continue it at the forum.

Documentation is always going to be a problem with user content driven software. When was the last time you saw a comprehensive manual for MS Word, SQL, or Access? Hint:

[2020-09-29 11:45] #207 closed

[2020-11-11 02:54] dbaldan opened #208 "Neon panels removes shadows from a stage"
When placing a neon-type panel on a stage, the shadow of all entities is removed.

### Reproduce
When I set no neon parameter, the shadow is displayed normally

![Image ](https://i.imgur.com/p5F1VZx.png)

But if you set the neon parameter, the shadows are gone
![Image ](https://i.imgur.com/lg4dqkH.png[/img)

### Expected behavior
The shadows should appear. I haven't tested with normal shadows, onl

[2020-11-17 02:58] DCurrent commented on #208
Tested and confirmed. Not sure if I can fix it without breaking a bunch of other stuff though. The neon code is really, really old and embedded.

[2020-11-17 02:59] dbaldan commented on #208
I will try to pinpoint which version build started to break this.

[2020-11-26 23:47] Ninoh-FOX opened #209 "Controls not work in RG351P"
Please complete the following template to help us investigate your issue. Developer time is very limited - incomplete issue reports may be ignored and deleted.

**Note:** Legacy builds are not supported. Any fixes will be applied to the latest engine builds.

## Description
Provide a clear and concise description of what the bug is here.

## Debugging

### Reproduce
Provide step by step instructio

[2020-12-03 14:08] DCurrent commented on #198
Almost a year and still did hear back from original reporter. Closing issue.

[2020-12-03 14:08] #198 closed

[2020-12-03 14:10] DCurrent commented on #199
@danielt3 explained this very well. Closing ticket.

[2020-12-03 14:10] #199 closed

[2020-12-03 14:13] DCurrent commented on #206
Closing ticket to consolidate conversation with latest GCC compiling.

[2020-12-03 14:13] #206 closed

[2020-12-03 14:38] #208 closed

[2020-12-03 15:49] DCurrent commented on #194
Retested on latest code revision. Bug is not reproducible. Closing ticket.

https://youtu.be/wrwxSO5mEJc

[2020-12-03 15:49] #194 closed

[2020-12-03 16:04] DCurrent commented on #193
@msmalik681 I cannot reproduce. @cmd and @script tags both execute following a landframe. This is a module issue - post to the forum and we can see about helping you.

https://youtu.be/wMsMV5m4ueU

[2020-12-03 16:04] #193 closed

[2020-12-03 16:42] vanfanel commented on #199
@danielt3 That's a very nice explanation indeed! The message had slipped through my queue, sorry.
Thanks! It's clear now :+1:
Are there instructions on how to setup a cross-compilation enviroment for this? Or should a generic Pi4 cross-compilation enviroment do?

[2020-12-03 16:53] DCurrent commented on #195
Tested. Bug not reproducible as of revision https://github.com/DCurrent/openbor/commit/36c3aebd5b9726e751315bb8c88c050999a8920e. Closing ticket.

https://youtu.be/xRdVO-CooBQ

[2020-12-03 16:53] #195 closed

[2020-12-03 16:58] DCurrent commented on #186
Closing ticket. I'm sorry, but there's really no feasible way for me to fill this request. I do not own a Wii, and do not know anything about porting/coding for it.

[2020-12-03 16:58] #186 closed

[2020-12-03 17:10] DCurrent commented on #172
Hey @2blackbar, sorry to take so long getting back to you. I'm looking at the code, and there actually isn't a Y or Base axis test at all. The engine only cares about X and Z alignment to pick up things.

Mind testing this again? Turn on Debug->Basic Properties and compare positions when you are trying to pick something up. That might give us a clue where the failure is.

[2020-12-03 17:14] DCurrent commented on #23
Closing this for now. I think this is more of a module support issue for the forum. Otherwise I'd like to get bug fixes and large projects off my plate first.

[2020-12-03 17:14] #23 closed

[2020-12-03 17:15] DCurrent commented on #18
This will be handled by the enhanced drawmethod. Closing ticket.

[2020-12-03 17:15] #18 closed

[2020-12-03 17:16] DCurrent commented on #25
White Dragon is no longer part of the OpenBOR staff. Closing ticket.

[2020-12-03 17:16] #25 closed

[2020-12-03 17:20] dbaldan commented on #172
I can confirm this - getting items over basemap doesn't works sometimes.

[2020-12-03 17:21] DCurrent commented on #200
Closing ticket as temporary solution was found and ancillary problems fixed.

[2020-12-03 17:21] #200 closed

[2020-12-03 17:23] DCurrent commented on #170
@msmalik681, what is the status? Were you ever able to come up with anything?

[2020-12-03 17:54] DCurrent commented on #189
Tested both bugs under multiple conditions. They do no reproduce as of revision https://github.com/DCurrent/openbor/commit/36c3aebd5b9726e751315bb8c88c050999a8920e. Atachain 0 disables use of attack as intended. Follows can self chain and do not cause crash. Closing ticket.

[2020-12-03 17:54] #189 closed

[2020-12-03 17:59] DCurrent commented on #172
@dbaldan, I still need more details. Did you compare positions of the item vs. collector? My guess is there is a Z axis issue we need to track down. It simply isn't possible for it to be a vertical issue because there's no vertical check I can find. At all. You could be 10K pixels above the item and OpenBOR won't care so long as you're aligned on X & Z. Which is itself oversight I'll need to look

[2020-12-03 18:00] dbaldan commented on #172
@DCurrent yeah I think so. I haven't compared it yet, but I will try it soon. I think its a Z issue maybe.

[2020-12-03 18:06] DCurrent commented on #169
This specific issue was fixed. @Plombo is working on a more comprehensive controller update. Closing ticket.

[2020-12-03 18:06] #169 closed

[2020-12-03 18:08] DCurrent commented on #185
Should have auto closed (see fix commit above). Closing ticket.

[2020-12-03 18:08] #185 closed

[2020-12-03 18:31] DCurrent commented on #111
Issue resolved for original reporter. I've tested in a sterile module and found global var persistence is working. Closing ticket.

[2020-12-03 18:31] #111 closed

[2020-12-03 18:34] msmalik681 commented on #170
Sorry i have been too busy to look at this i will have look over it this weekend and confirm if it can be supported.

[2020-12-03 18:40] DCurrent commented on #131
@dbaldan I'd like to see that beta test module please. I don't have HITWALL and it would be pretty tedious to set up a test.

[2020-12-03 18:41] DCurrent commented on #76
@msmalik681 did you ever hear from @Plombo?

[2020-12-03 18:41] DCurrent commented on #170
@msmalik681 Thanks!

[2020-12-03 18:43] dbaldan commented on #131
@DCurrent I will send you.

[2020-12-03 20:29] msmalik681 commented on #76
Nope

[2020-12-04 22:22] nsw27 opened #210 "Compiled engine crash relating to script"
I saw a lot of issues closed lately so wanted to compile the current version of engine for PC to do some testing myself. But this version of engine crashes

says Unable to load file 'data/sprites/arrowl'

now i looked in folder and theres these new files i did not create !

arrowl.png 0MB blank file
arrowl.gif 0MB blank file
arrowl.bmp 0MB blank file
arrowl.pcx 0MB blank file

I am guessing engine

[2020-12-04 22:43] nsw27 commented on #210
title should be changed to compiled engine issue causing unpacked data corruption ?

[2020-12-05 00:11] DCurrent commented on #210
Confirmed, bug is intermittent but definitely there. Couldn't pick a worse time, it will be a few days before I'm free again to deep dive into the code.

In the meantime if anyone is willing to compile previous revisions and find where this started it would go a long way toward helping resolve.

Thanks!

[2020-12-05 00:31] DCurrent commented on #210
And then I see the second comment. Passive aggressive remarks about unrelated and proven non-existent issues are not welcome. Deleted, and if I see it again, you lose access to the repository.

[2020-12-05 06:04] DCurrent commented on #210
Sent a message to @Plombo, in hopes he might know something off the bat before I dive in.

[2020-12-05 13:25] DCurrent commented on #210
Thanks for the find @msmalik681!

[2020-12-05 13:40] msmalik681 commented on #210
@DCurrent no problem i was the one who broke it but now the android build is broken i will see if i can find a alternative method to fix that.

[2020-12-05 14:14] DCurrent commented on #210
@msmalik681, no worries, I've broken plenty of things too. It happens. Let's just make sure we're careful going forward. 👍

[2020-12-06 11:04] msmalik681 commented on #210
@nsw27 can you confirm this is working for you now.

[2020-12-06 11:46] nsw27 commented on #210
@msmalik681 yes seems to not cause any strange issue as before.

[2020-12-06 13:38] msmalik681 commented on #210
Great

[2020-12-06 13:38] #210 closed

[2020-12-09 15:44] DCurrent opened #213 "Music Stop on Loadsprite() Fail"
## Description
Running loadsprite(<sprite>) stops in game music if the target sprite file is unavailable.

## Debugging

### Reproduce

1. Open any level with music (tested with .ogg).
2. During level, execute _loadsprite(<file name>)_, with an invalid directory or non existent <file name>. My test used _"data/chars/blank.png"_ when the file is actually located at _"data/chars/misc/blank.png"_. Th

[2020-12-13 05:08] nsw27 commented on #210
Actually an old bug has reappeared with this latest version you sent me. it now makes screenshots not work in game anymore

https://github.com/DCurrent/openbor/issues/195

[2020-12-14 20:47] shantigilbert opened #214 "Fails to compile due to a missing closing ), fix included"
## Description
Compiling fails on latest master:

[code]

## Debugging
As compiling error says, it just missing a `)`, adding it makes it compile fine.

https://github.com/DCurrent/openbor/blob/d9ff4596baad6da6e1bbd1002bc9879974ff365d/engine/source/gamelib/packfile.c#L496

should be `if((handle = open(packfilename, O_RDONLY | O_BINARY, per)) == -1)`

### Reproduce
Clean compile latest master

###

[2020-12-14 21:12] msmalik681 commented on #214
My bad i will fix right away

[2020-12-15 09:55] nsw27 opened #215 "Edge command not working ?"
I have a endless running ninja game ive been working on for ages and tested in the current PC version I compiled.

In current version edge command does not work at all.

expected behaviour (at the edge of a platform player is to perfrom edge animation)

occuring behaviour (player just does normal idle)

This was a great trick beacuse I made platforms and duplicated them so when player is on the pl

[2020-12-17 22:28] DCurrent commented on #215
@nsw27, do you know what version this started? Also, yes, a test module would help greatly. I just ran into a 10 alarm issue at work, but will get to this soon as I can.

[2020-12-17 22:30] DCurrent commented on #214
I noticed this myself and fixed it in code. Guess I forget to merge, ooops. Closing since @msmalik681 fixed.

[2020-12-17 22:30] #214 closed

[2021-02-01 06:26] ddylard opened #218 "OpenBor doesn't launch on windows 7 x 64!"
## Description
I wanted to try Silver Knights Crusaders pak but the game wont launch in windows 7. i tried the latest alpha 4.0 and several older versions but none will launch. i also get no errors poping up and cant get help anywhere on the internet because nobody seems to have this issue....thanks!
## Debugging

### Reproduce
run openbor.exe and nothing happens.

### Expected behavior
see the pr

[2021-02-01 13:05] danielt3 commented on #218
Please, send a link to the PAK also so we can try to reproduce the problem in the same environment you have.

[2021-02-01 14:04] danielt3 commented on #218
Did you checked the log to see if there is some insight?

[2021-02-04 22:49] ddylard commented on #218
i am sorry for the late reply Danielt3 but the good news is i solved the problem and now the game is working perfectly. i will explain what was happening and how i got it solved because i figure it can be the problem for many people trying to launch openBOR and not being able to without any error messages.

I went to check the OPENBOR log file wich is located in the openbor folder itself and it tu

[2021-02-05 15:00] mikewalshchicago opened #219 "Common configuration file suggestion"
**Is your feature request related to a problem? Please describe.**
Controller and display settings need to be configured for each PAK individually.

**Describe the solution you'd like**
If OpenBOR looked for a .CFG file that matched the name of the .EXE instead of the .PAK, one could put multiple PAKs in the appropriate folder, and OpenBOR woiuld always use the same config.

**Describe alternative

[2021-02-08 05:41] DCurrent commented on #219
@mikewalshchicago,

I'm not 100% sure either way myself. I never use joysticks or any of the ports, so I really don't have a dog in the fight. Truth be told, I've never touched the CFG files and don't really know how they work myself. You're welcome to poke around and make a pull request - I'll add you as a contributor, but you'll need to get a consensus in the forum before I can approve a functio

[2021-02-08 05:43] DCurrent commented on #218
Thanks @ddylard! I'll mark this as closed.

[2021-02-08 05:43] #218 closed

[2021-02-10 17:04] mikewalshchicago commented on #219
Hey, thanks for replying.  Looks like a pull request wont be necessary, as it's already in the code:

void saveasdefault()
{
#ifndef DC
    FILE *handle = NULL;
    char path[MAX_BUFFER_LEN] = {""};
    getBasePath(path, "Saves", 0);
    strcat(path, "default.cfg");
    handle = fopen(path, "wb");
    if(handle == NULL)
    {
        return;
    }
    fwrite(&savedata, 1, sizeof(savedata), handle)

[2021-02-19 19:22] rcampbel3 opened #220 "Build fails on Ubuntu 20.04"
## Description
Source build from latest git pull fails on Ubuntu 20.04

### Reproduce

git clone repo
ensure all dependencies are installed using system packages
cd openbor/engine
./build.sh 4 amd64

[code]

## Additional context

- Tried to compile using gcc-9 and clang-11,  same result
- Tried setting ```export CFLAGS=-Wno-error``` , same result

[2021-02-21 14:29] DCurrent commented on #220
@rcampbel3 thanks for the heads up. We're aware about gcc-9 throwing temper tantrums over strcopy, but haven't found a good fix yet that does break a lot of other things.

[2021-02-21 14:30] DCurrent commented on #219
@mikewalshchicago, thanks. I'll close this for now.

[2021-02-21 14:30] #219 closed

[2021-03-14 17:21] DCurrent commented on #13
This isn't really an issue ticket, so I'm closing. the animation properties are mostly done, but are mixed with model properties that I''m still working on.

[2021-03-14 17:21] #13 closed

[2021-03-14 17:22] DCurrent commented on #8
Closing this for same reason as animation properties. It's just cluttering the ticket window.

[2021-03-14 17:22] #8 closed

[2021-03-30 00:18] dbaldan opened #226 "Blockodds strange behaviour"
## Description
According to the manual, blockodds accepts different values, to be a ratio/chance of how an entity should block

[code]
## Debugging
But its not how it works. Because no matter what value I use, there is just two options:

- 1 - Block EVERYTHING, including **during a combo**  (the entity receives the first hit and, even if their pain animation isn't over yet, it will automatically b

[2021-03-30 00:47] DCurrent commented on #226
I'll look into this. I think it's actually two separate issues.

- The formula for odds is set up wrong, that's probably a simple fix.
- No matter what odds are, the engine should not have the native ability to block if the entity is in any state other than idle. Most likely there's a missing check flag check.

[2021-03-30 01:31] dbaldan commented on #226
@DCurrent thanks. I remember some people reporting that some entities can block even if they are on the ground - right from the fall animation into the block, skipping the whole raise proccess.

[2021-05-11 16:21] dbaldan opened #227 "endanim / endtime"
**Is your feature request related to a problem? Please describe.**
 I'm always frustrated when I have to use script to handle a time-based change and I think it could be more user friendly.

**Describe the solution you'd like**
We could have an animation header command, on the same way we have _"followanim / followcond"_ (the concept is almost the same), but it would work as an easy way to use tim

[2021-05-11 23:18] PauloHPBender opened #228 ""Language" option on System Options"
**Is your feature request related to a problem? Please describe.**
I'm working on a commercial project with OpenBor and I'd like to feature multiple languages on the game.

**Describe the solution you'd like**
With "translation.txt" file, we are capable of changing OpenBor's interface, but we there's no ingame option for a selectable language, nor there are configurations for the translation.txt t

[2021-05-26 12:32] DaviGamerXP opened #230 "Games Crash on load."
I'm using a OpenBOR 3.0 build, and downloaded seven PAK. files. But there's two of them which don't work, when i try playing these games in OpenBOR they show the loading screen, then OpenBOR just crashes, it disappears. Every other game i have downloaded works, but not these two for some reason, and apparently i'm the only one having this issue. I'm also sending the PAK files which don't work so w

[2021-05-26 14:58] dbaldan commented on #230
@DaviGamerXP I am afraid this issue is more suited to be post on the forum, not here, because its not an OpenBOR bug.
If you try to run a game using an older build (or, in some cases, newer too) than the one the coder used to develop his game, it won't work.

For example, Justice League legacy needs build 6412. If I am not wrong, if you use a build lower than 6330, it won't run because Zvitor uses

[2021-05-26 14:58] #230 closed

[2021-05-26 15:16] DaviGamerXP commented on #230
Where can i download Build 6412? I can't find it anywhere

[2021-05-26 15:33] DaviGamerXP opened #231 "OpenBOR won't execute/Launch"
OpenBOR simply won't execute, i click the .exe file, and nothing happens. it just doesn't.
Only a single older version of OpenBOR worked, but it glitches with a few games, so i want to update OpenBOR but every other time i try to download and run it, Nothing happens, no matter if it has PAK files in the paks folder or not, it doesn't launch.

Using Build 6391 V3.0

PC is Windows 7 x64

Please help

[2021-05-26 16:37] DCurrent commented on #231
@DaviGamerXP You were already given an explanation and directed to the forum by @dbaldan. These are not engine bugs. Please stop spamming superfluous bug reports or I will have to block your access to the repository.

[2021-05-26 16:37] #231 closed

[2021-06-07 18:06] vanfanel opened #232 "Build fails on Debian GNU/Linux (aarch64)"
Hi,

OpenBOR used to build fine, but after a git pull and rebuild, I get this:

[code]

Seems that a file is missing, doing this on the git clone main directory won't return any results:
`find ./ -name SDL2_framerate.h`

Any idea on what's going on?

[2021-06-09 03:46] DCurrent commented on #232
@fgames9000 please have a look at this. It appears your framerate modification is causing some issues after all.

[2021-06-09 05:36] fgames9000 commented on #232
Strange, I was able to compile Windows, Android and PSP platforms with no problems. I never compiled a Linux version, but I will take a look.

[2021-06-09 08:47] fgames9000 commented on #232
@DCurrent, @vanfanel

After many tests I discovered what is causing the problem. I saw that you are using Linux and due to this maybe you didn't unpacked the "win-sdk.7z" file. So, I found that the file "SDL2_framerate.h" is located at the following path:

..\openbor-master\tools\win-sdk\include\SDL2\SDL2_framerate.h

As a test, I deleted this file and "bingo", I got the same error as yours, even

[2021-06-09 09:09] vanfanel commented on #232
@fgames9000 It would be great if OpenBOR could be built without having to decompress windows-related files, as it used to be possible.

[2021-06-09 09:42] fgames9000 commented on #232
Oh, I didn't mean that Linux is a "problem". I only meant that you are using a different system than me. I'm not a Linux user, and that's it.

I will talk with the dev team about your suggestion, thanks. Please, let me know if the solution I posted worked for you.

[2021-06-09 09:46] vanfanel commented on #232
@fgames9000 Ah yes, that worked.
Sorry, maybe I misininterpreted your words :)

[2021-06-09 09:53] fgames9000 commented on #232
@vanfanel
It's all right. I'm glad it worked :)

[2021-06-09 21:04] msmalik681 commented on #232
@vanfanel there is no issue compiling for Debian Linux both x86 and amd64 I use Pop OS 20.04 and I compiled just fine using gcc-7 and installing the correct dependencies: sudo apt install -y libsdl2-dev libsdl2-gfx-dev libpng-dev libvorbis-dev libvpx-dev

Your log shows you are compiling on a rasperry pi with a arm cpu is that correct ?

[2021-06-10 14:08] vanfanel commented on #232
@msmalik681 Yes, you are right, I am building on Debian aarch64 on a Raspberry Pi.

[2021-06-11 05:18] #232 closed

[2021-06-11 14:26] DCurrent commented on #232
Thanks @fgames9000!

[2021-06-13 19:44] msmalik681 commented on #228
For in game text/story this should not be a problem you can make a language selection but on a system wide level like menus and "press start" text to change need to check with @DCurrent if that would be a possibility.

[2021-07-16 02:00] fgames9000 commented on #226
Hey guys! Thanks to your reports and comments I was able to find where the problem is.
Here's the fixes:

Blockodds rate fix
[code]

Block state fix, check if the "blocking instance" is gone or not before all other tasks
[code]

In the videos below you can see some tests:

Blockodds rate fix
https://www.youtube.com/watch?v=6cgTytt4iOM

Block state fix
https://www.youtube.com/watch?v=IHQbTMw3yRs

I

[2021-07-16 02:25] fgames9000 commented on #183
Buddies, is there an easy way to reproduce this issue?

[2021-07-16 02:35] nsw27 commented on #183
just make a level start with mirror I suppose ?

video example

www.youtube.com/watch?v=uYwJHCZ3SGc&feature=youtu.be

[2021-07-16 03:07] fgames9000 commented on #183
Already made by using exactly your post and videos as reference.
I created a level using your level as base, but nothing. I will continue trying, thanks.

[2021-07-19 22:55] Darknior opened #236 "Make the OB INI file human readable"
Like an exemple is better than many words  ....
The request is to make the OB INI file readable, only this file, not the save files for sure.

We already patch OB to do it, it is not a problem, but i think it can help others to make it official.
Here is the link with our patch file.

https://github.com/batocera-linux/batocera.linux/blob/95f96803e04027b7996c73ae05b40a891dad0ca9/package/batocera/emu

[2021-07-20 05:23] DCurrent opened #237 "Sound & Playgif Glitch"
## Description
Starting at commit 83525e80 in dc_unified_updates branch, engine appears to have severe issues simultaneously streaming data. This manifests most obviously as opening music stopping or playing as "radio static" when an animated .gif such as an intro sequences or logo starts to play.

## Debugging

### Reproduce
1. Download original BOR to ensure no scripts or other advanced techniqu

[2021-07-20 10:15] fgames9000 commented on #237
I sent a code for you in the forum

[2021-07-20 12:30] DCurrent commented on #237
You are a lifesaver @fgames9000. I knew it was something super simple, but spent hours beating my head against the wall trying to find it. Thanks again!

[2021-07-20 18:08] Plombo commented on #237
Something tangentially related I discovered looking at the commit 83525e8 you mentioned is that you forgot to change "per" to "file_permission" on line 466, and Linux compilation is broken on your branch as a result.

[2021-07-20 18:30] fgames9000 commented on #237
Yeah, Plombo is right. Sorry man, I didn't test Linux build

[2021-07-20 18:39] DCurrent commented on #237
@Plombo & @fgames9000, thanks for the catch. I'll get that fixed.

[2021-07-21 16:57] Plombo commented on #236
I don't think that patch can be merged as is (it makes some unrelated changes we don't want), but I'm generally in favor of the idea of using a .ini for settings. It could improve the situation where settings data is incompatible between engine versions.

[2021-07-21 18:28] Darknior commented on #236
Cool thanks a lot. Our solution is not the best one, it is only a fast patch to permit to integrate OB with other gamepad settings we use. To make it easier for gamers that use Batocera.
And yes we have diffèrent patch for our 4 OB builds we use ... because like you write, options are not compatible.

My request is only that OB should use a human readable INI file, it can help a lot, and we are no

[2021-08-12 07:25] P0W3 opened #238 "[OpenBOR Build 2021-07-19] Building Failed on Windows (v10.0.19043.1110)"
I am new to this coding, and I have all of the installed dependencies from the system packages that are needed, so here is what I have done so far.

I used Git (v2.32.0.2) to type the following commands, but the building failed at this point.

[code]

[2021-08-13 21:05] P0W3 commented on #238
The latest commit was 3caaddd

[2021-08-14 04:10] DCurrent commented on #238
Sorry @P0W3, I have funeral and family stuff this weekend. Will try and have a look when i can, assuming @Plombo, @msmalik681, or @fgames9000 don't beat me to it.

[2021-08-14 18:19] msmalik681 commented on #238
You dont need any dependencies openbor has everything it needs try renaming your mingw64 folder to bak.mingw64 then run build.bat again

[2021-08-15 00:18] P0W3 commented on #238
Okay. I renamed the folder from mingw64 to bak.mingw64 in the Git directory.

![image](https://user-images.githubusercontent.com/18279115/129463131-c2ed1201-aa1b-4228-9230-db825439fcba.png)

I ran build.bat in the OpenBOR-engine directory.

![image](https://user-images.githubusercontent.com/18279115/129463142-5d9fab2c-cbc9-4177-a21e-8fc54545ce7d.png)

And, these errors showed up.

[code]

[2021-08-15 01:40] msmalik681 commented on #238
This will normally work on a clean install of windows my guess is you have installed development tools that are causing conflicts. If your not using it for anything else try uninstalling cygwin and you are running the setup in a windows terminal right ?

[2021-08-15 03:12] P0W3 commented on #238
I think that I just realized something.

The build that I was trying to compile was Build 7138 (v3.0).

The latest build that I have is Build 7142 (v4.0).

I was searching for the latest build of OpenBOR.

[2021-08-30 12:05] BeWorld2018 commented on #201
For last version in control.c

void control_rumble(int deviceID, int ratio, int msec)
{
    if (msec == 0)
    		return;

    if (devices[deviceID].haptic)
    {
        if (SDL_HapticRumblePlay(devices[deviceID].haptic, ratio, msec) != 0)
        {
            printf("Warning: Unable to play rumble! %s\n", SDL_GetError());
        }
    }
    if (devices[deviceID].deviceType == DEVICE_TYPE_CONTRO

[2021-09-30 03:05] P0W3 opened #239 "Is There a Donation Link to an OpenBOR Website?"
Is there a donation link to an OpenBOR website?

[2021-09-30 16:09] dbaldan commented on #239
here http://www.chronocrash.com/forum/index.php?donate/

[2021-10-22 13:12] DCurrent opened #240 "Entitiy Reverts to Default Palette on KO"
## Description
Entities currently using an alternate palette revert to default palette when killed.

## Debugging

### Reproduce
Play with dev build. Attack and defeat an enemy that uses any palette other than default, and does not have a komap defined. Entity reverts to its default palette on defeat.

### Expected behavior
Entities should maintain default palette unless a komap is defined.

### S

[2021-10-22 13:13] #240 closed, assigned to DCurrent

[2021-10-27 08:25] naviabbot opened #241 "Build failing on Linux"
Using commit `e6aec66`.

When running build.sh (`./build.sh 4 amd64`), the following error is displayed.

[code]

Further more, when running `make BUILD_LINUX=1`, the following is found:
[code]
`gcc --version` output:

[code]

[2021-10-27 12:45] #241 closed, assigned to nobody

[2021-11-10 10:00] sauntheninja2 opened #243 "Build Failing on Arch 5.14.16-arch1-1"
**Description**
Build Fails in Arch

**Reproduce**
git clone repo
ensure all dependencies are installed using system packages
cd openbor/engine
./build.sh 4 x86

source/utils.c: In function ‘checkAlloc’:
source/utils.c:307:9: error: ‘mallinfo’ is deprecated [-Werror=deprecated-declarations]
  307 |         writeToLogFile("Memory usage at exit: %u\n", mallinfo().arena);
      |         ^~~~~~~~~~~~

[2021-11-10 11:24] msmalik681 commented on #243
Build using gcc 7

[2021-11-11 02:34] #237 closed

[2021-11-16 15:29] DCurrent opened #248 "Offense Non-Functional"
## Description
Offense factors ignored and do not change damage output.

## Debugging

### Reproduce

Add offense to any model text. The damage output is not changed.

### Expected behavior

Offense expected to modify damage output as a multiplier (ex: offense normal2 1.5 should cause attack type 2 to output 150% its original damage value).

### Screenshots
NA

### Version
Unknown build, but likel

[2021-11-16 16:15] #248 closed

[2021-12-12 16:07] #215 closed

[2021-12-12 16:07] #197 closed

[2021-12-12 16:08] #183 closed

[2021-12-20 16:27] Plombo commented on #243
We could add -Wno-deprecated-declarations to the build options, but it would probably be better to just call getUsedRam() from ram.c instead of calling mallinfo() in utils.c.

[2021-12-20 16:29] Plombo commented on #213
Does this issue still exist in the current version?

[2021-12-20 20:00] DCurrent commented on #213
@Plombo, I believe the issue is still there, but I need to retest. Right now we have some other more pressing issues. Your timing is really fortuitous. Just yesterday I created a branch that reverts your control changes, and we were about to pull it into the global_beta branch (I'll explain the global beta too if you need). There are a couple of deal breaking issues problems with it (control code)

[2021-12-20 21:46] Plombo commented on #213
The only reason I haven't been on Chrono Crash recently is that I thought there was a problem with my 2FA setup. I just realized it's actually fine, but I spent 3 months thinking I couldn't log in...

Anyway, if the issues with the control changes are just bugs, can they be entered as issues on here so I can keep track of them? I'm happy to discuss things, of course, but I can't even find where th

[2021-12-20 22:20] DCurrent commented on #213
I just thought maybe you'd gotten bored with OpenBOR and move onto other stuff, lol. Sure, I'll make a bug entry. It's just easier to discuss things at length there, and some stuff I prefer not publicly viewable. It's in the same place as before, a sub category of engine. Are you not able to see it?

[2021-12-20 22:24] DCurrent commented on #213
Just reworked your permissions and ran an audit. You should be able to access the Dev area now.

[2021-12-31 06:10] Zombie-Ryushu opened #253 "Build Error an Makefile Patch."
+ export 'CFLAGS=-O2 -Wa,--compress-debug-sections -gdwarf-4 -fvar-tracking-assignments -frecord-gcc-switches -Wstrict-aliasing=2 -pipe -Wformat -Werror=format-security -Wp,-D_FORTIFY_SOURCE=2 -ffat-lto-objects -fno-delete-null-pointer-checks -fstack-protector --param=ssp-buffer-size=4 -fPIC' 'CXXFLAGS=-O2 -Wa,--compress-debug-sections -gdwarf-4 -fvar-tracking-assignments -frecord-gcc-switches -Ws

[2021-12-31 06:21] Zombie-Ryushu commented on #253
[openbor-3.0.6391-fix-Makefile.txt](https://github.com/DCurrent/openbor/files/7795451/openbor-3.0.6391-fix-Makefile.txt)

[2021-12-31 11:20] msmalik681 commented on #253
[https://github.com/DCurrent/openbor/tree/global_beta](https://github.com/DCurrent/openbor/tree/global_beta) this is the branch you should be compiling from please test this one and confirm if it is working for you. If not please give more details about your system.

[2021-12-31 11:37] Zombie-Ryushu commented on #253
~/testing/BUILD/openbor-global_beta/engine ~/testing/BUILD/openbor-global_beta
+ ./version.sh
Missing version build, please add it manually and press ENTER:

Missing version commit, please add it manually and press ENTER:

VERSION_BUILD is set to:
VERSION_COMMIT is set to:
+ ./environ.sh 4
-------------------------------------------------------
   Linux  SDK (x86_64-unknown-linux-gnu) Environment

[2021-12-31 11:37] Zombie-Ryushu commented on #253
This is an older (obsolete) Rosa Linux 2016.1 System running gcc 5.5

[2022-01-01 09:34] msmalik681 commented on #253
Compile a more recent version of gcc i think at least 7 should be good.

If you dont want to upgrade your system i suggest to use a virtual machine just for compiling like lubuntu or mx linux.

Closing this down as your version of gcc is clearly the issue and i have confirmed everything working on pop os 20.04

[2022-01-01 09:34] #253 closed

[2022-02-22 17:06] SupervisedThinking commented on #243
Well any news about this topic?

[2022-02-25 13:03] danielt3 commented on #243
I did note something while trying to understand this issue (I'm on version 7141, hash b00efbc):

1. If you are on an amd64 and builds for AMD64, the build works fine (the error reported in this issue seems to be fixed);
2. If you are on an amd64 and builds for x86 the build emits an error message but carries on and produces an amd64 executable. Shouldn't it stop when the error is found? Build logs

[2022-02-25 13:15] danielt3 opened #255 "Linux x86 build fails to fail when dependencies are not found"
## Description
The build for Linux/x86 fails to fail when compiling from an AMD64 environment and dependencie are not found.

1. If you are on an amd64 and builds for AMD64, the build works fine;

2. If you are on an amd64 and builds for x86 the build emits an error message but carries on and produces an amd64 executable. Shouldn't it stop when the error is found? Build logs are attached and I'm g

[2022-02-25 13:19] msmalik681 commented on #255
I will look into it.

[2022-02-25 18:49] SupervisedThinking commented on #243
I guess mallinfo2 should be used since mallinfo is deprecated https://man7.org/linux/man-pages/man3/mallinfo.3.html

[2022-02-28 14:52] danielt3 commented on #255
I'm not a super-duper-blaster shell scripting ninja master but, from what I can see, on line 155 in `build.sh` the script `environ.sh` is called with parameter 4 to setup the build environment. It fails because the error message in lines 186 and 187 in `environ.sh` are shown in the log but when `build.sh` continues, the test in line 156 seem to fail to detect that `environ.sh` failed. I'm not sure

[2022-03-02 21:42] danielt3 commented on #255
I just noticed that I have some `mingw-w64` toolchain installed in my machine and I'm investigating if this can mess with the detection by the build scripts.

[2022-04-09 17:51] DCurrent opened #256 "Pain Icon On Block"
## Description
Pain icon plays when blocking attacks with Blockpain animation.

## Debugging

### Reproduce
Set up any model with a pain icon, blocking and blockpain animations. When blocking attacks in game, the

### Expected behavior
Blockpain is not a "pain" animation. It is meant for block recoil, and should not play pain icons while active. This bug was caused by my own removal of the blockpa

[2022-04-22 16:34] DCurrent opened #257 "Bitwise Not Nonfunctional"
Bitwise not (`~`) is unusable and throws erroneous error.

## Description
Any attempted use of `~` results in error at load.

## Debugging

### Reproduce
1. Add `~` operator to any module script. Example: `flag_state &= ~openborconstant("IN_SCREEN_OPTIONS_MENU")`
2. Load module.
3. Module will fail to load, returning error downstream of operator:

"Script compile error in 'data/scripts/dc_damage/d

[2022-04-22 16:46] DCurrent opened #258 "Animation Event OnCreate"
## Description
Animation scripts fires `oncreate()` event on every frame.

## Debugging

### Reproduce
1. Add an animation script to any model text.
2. Add an `oncreate()` function with a debug trace (ex: `log("\n Hello world!");`).
3. Load the module and play level with entity spawned from model.
4. `Oncreate()` fires on each frame along with `main()`.

### Expected behavior
`Oncreate()` should o

[2022-04-22 16:57] Plombo commented on #257
I don't know why it's failing to compile the script, but from a look at Parser.c, it's very obvious that the implementation of the ~ operator is completely wrong anyway. As in, the person who implemented the operator (take a guess) clearly didn't even know what it's supposed to do.

[2022-04-22 17:44] DCurrent commented on #257
I wondered about that. Almost looks like it was set up as a simple sign inversion, but I just chalked it up to my missing something. If you have any ideas what I could do about it I'm all ears. I've been working to compact a lot of binary state flags into one value, and it works really nice in source code, but without a `~` operator script access gets over-complicated. If you want to ensure a bit

[2022-04-22 18:09] Plombo commented on #257
Yeah, I'd also think I was missing something if I weren't already familiar with the code. It's not even implementing ~ as a "simple" negation, really, but as a prefix/postfix operator that *modifies the variable* like ++ and -- do.

Fortunately, I don't think it will be too hard to throw that code out and implement it properly.

[2022-04-25 14:10] DCurrent commented on #257
...and that guy claims to have a PhD in Computer Science. Oh well, thanks for checking this out @Plombo!

[2022-05-17 22:28] Plombo commented on #257
@DCurrent, can you check out the "bitwise-not" branch I just pushed and see if it works? (I made the changes in 5 minutes and haven't exactly tested it myself.)

[2022-05-18 03:11] DCurrent commented on #257
So sorry @Plombo, I just noticed this. I'm away from my desk and have a meeting first thing in the morning. I'll try to check it out by tomorrow afternoon.

[2022-05-18 16:04] Plombo commented on #257
Sure, no hurry. After all, I'm the one who took 3 weeks to get around to a 5-minute change. 🙃️

[2022-05-19 04:44] DCurrent commented on #257
Works beautifully, thank you @Plombo! I used a simple test with the new cheat system. Defaulted touch of death cheat on, then turned it off with bitwise not. Confirmed through menu and also via log output:

[code]

Log output:

global_config: #6816532
	 ajspecial: 0
	 cheats: 30122
	 cheats: 21930

Unless you have reason not to, I'll roll this into the global beta and flag the commit as a fix for

[2022-05-19 22:04] Plombo commented on #257
Glad to hear it works!

[2022-05-19 22:04] #257 closed

[2022-06-16 10:41] alexandar76 opened #266 "PS2 dualshock gamepad is not working"
My ps2 game-pad not work. I remap buttons with game-pad and still not work.

[2022-06-16 14:54] alexandar76 commented on #266
With other adapter for PS2 gamed controls work.

[2022-06-30 06:00] coreybruce commented on #220
Having the same issue on Manjaro Arm64

[code]

[2022-07-04 08:34] msmalik681 commented on #220
Just tested latest master build 7142 on linux mint 20.3 and it compiled fine. Please ensure you have the correct dependencies "libsdl2-dev libsdl2-gfx-dev libpng-dev libvorbis-dev libvpx-dev" also I built it using gcc 9.4.0 to check your gcc version use "gcc --version" in terminal.

@DCurrent do we actually consider it a bug or issue if a build outside of the official releases is compiling or not

[2022-07-04 08:36] coreybruce commented on #220
Yeah no you can close it, it's been fixed now and compiles fine

[2022-07-04 08:58] #220 closed

[2022-07-20 13:36] clondy999 opened #267 "Add language"
A very good project I want to translate it into Chinese, but the program doesn't support Chinese. What should I do

[2022-08-21 09:39] DDinghoya opened #269 "Translation for Korean (Attached txt file)"
**Is your feature request related to a problem? Please describe.**
I would like to help with Korean translation.

**Describe the solution you'd like**
Please use the attached translated text.

**Describe alternatives you've considered**
Korean font information is also required.

**Additional context**
N/A

[translation_ko.zip](https://github.com/DCurrent/openbor/files/9388798/translation_ko.zip)

[2022-11-19 13:02] DCurrent commented on #267
Sorry, there are no plans to support non-Latin characters.

[2022-11-19 13:02] #267 closed

[2022-11-19 13:13] DCurrent commented on #269
This is not an engine code issue. Please post things like this into the forum: https://www.chronocrash.com

[2022-11-19 13:13] #269 closed